In [1]:
import pandas as pd
import numpy as np
import json
import os
import requests
#from config import api_key, postgres_pass, heroku_pass, heroku_URI
import yfinance as yf
import psycopg2
from sqlalchemy import create_engine

In [2]:
symbols_data = 'Resources/Yahoo-Finance-Ticker-Symbols.csv'
symbols_data_df = pd.read_csv(symbols_data)
symbols_data_df

,Ticker,Name,Exchange,Category Name,Country
0,OEDV,"Osage Exploration and Development, Inc.",PNK,NaN,USA
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA
...,...,...,...,...,...
106323,G5N.SG,"Groupon Inc. Reg. Shares DL-,00",STU,NaN,Germany
106324,N1H.AX,N1 Holdings Limited,ASX,Mortgage Investment,Australia
106325,1K2.BE,"K2M GROUP HLDGS DL-,001",BER,NaN,Germany
106326,2RM.BE,"RE/MAX HLDGS A DL -,0001",BER,NaN,Germany
106327,2RM.F,"RE/MAX Holdings, Inc.",FRA,NaN,France

In [3]:
#Connect to PostgreSQL
import psycopg2
from sqlalchemy import create_engine
from config import postgres_pass
conn = psycopg2.connect(host="localhost", port = 5432, database="final_project", user="postgres", password=postgres_pass)

In [4]:
db_string = f"postgresql://postgres:{postgres_pass}@127.0.0.1:5432/final_project"
engine = create_engine(db_string)

In [7]:
symbols_data_df.to_sql(name='symbols_data', con=engine, if_exists='replace')

In [8]:
symbols_data_df.dtypes

Ticker           object
Name             object
Exchange         object
Category Name    object
Country          object
dtype: object