In [1]:
import pandas as pd
import numpy as np
import json
import requests
from config import api_key
import yfinance as yf

#from pandas_datareader import data as pdr
#yf.pdr_override()

In [2]:
#ticvker = 'kim'
#endpoint = "/v11/finance/quoteSummary/"
#url = "https://yfapi.net" + endpoint + ticker

In [3]:
#querystring = {"modules":"defaultKeyStatistics"}

#headers = {
#    'x-api-key': api_key
#    }

#response = requests.request("GET", url, headers=headers, params=querystring)

#tick_resp = response

In [4]:
#tick_resp.json()['quoteSummary']['result'][0]['defaultKeyStatistics']

In [5]:
#msft = yf.Ticker("MSFT")
#msft.info
#hist = msft.history(period="max")
#print(hist)

In [6]:
#data = pdr.get_data_yahoo("MSFT", start="2017-01-01", end="2022-01-31")
#data

In [7]:
# Read the raw data
path='Resources/key_stats_yahoo.csv'
df = pd.read_csv(path, index_col=False)

In [8]:
df

,Unnamed: 0,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,0,1/30/2004 19:01,a,33.8320,0.407,NaN,2.80,6.01,29.56,11.97,...,3.774,NaN,0.8,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474
1,1,4/13/2004 4:07,a,28.4626,0.375,NaN,2.43,4.98,25.56,6.20,...,3.391,NaN,0.8,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496
2,2,12/13/2004 21:37,a,21.8816,0.323,33.58,1.61,3.24,4.86,5.38,...,0.710,NaN,0.8,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547
3,3,1/22/2005 5:17,a,20.2478,0.322,30.70,1.52,3.04,4.86,5.38,...,0.710,NaN,18.6,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166
4,4,1/9/2006 2:35,a,31.7118,2.169,52.82,3.31,4.26,6.38,3.58,...,0.660,64.9,22.8,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,9127,11/1/2012 16:37,znga,2.2300,5.390,NaN,1.37,0.94,46.51,47.90,...,0.890,NaN,3.2,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,NaN
9128,9128,11/10/2012 0:28,znga,2.2300,5.390,NaN,1.32,0.91,46.51,47.90,...,0.890,NaN,3.2,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,NaN
9129,9129,2/16/2013 1:09,znga,3.1700,5.480,NaN,1.96,1.37,16.35,6.83,...,0.280,NaN,NaN,1.280000e+09,1.670,1.000000e+08,2.920,2.370,195770000.0,3.940
9130,9130,4/22/2013 2:07,znga,3.2300,5.480,NaN,1.95,1.36,16.35,6.59,...,0.280,NaN,NaN,1.280000e+09,1.640,1.000000e+08,2.920,2.340,195770000.0,3.790
9131,9131,5/10/2013 5:43,znga,3.2300,5.370,NaN,2.11,1.39,9.80,0.03,...,0.160,NaN,17.9,1.270000e+09,1.600,1.000000e+08,3.310,2.350,143400000.0,3.790

In [9]:
df = df.drop(columns=['Unnamed: 0'])

In [10]:
#Ticker Array
tickers = df['Ticker'].unique()
tickers

array(['a', 'aa', 'aapl', 'abbv', 'abc', 'abt', 'ace', 'aci', 'acn',
       'act', 'adbe', 'adi', 'adm', 'adp', 'adsk', 'adt', 'aee', 'aeo',
       'aep', 'aes', 'aet', 'afl', 'agn', 'aig', 'aiv', 'aiz', 'akam',
       'all', 'altr', 'alxn', 'amat', 'amd', 'amgn', 'amp', 'amt', 'amzn',
       'an', 'anf', 'ann', 'aon', 'apa', 'apc', 'apd', 'aph', 'apol',
       'arg', 'arna', 'aro', 'ati', 'atvi', 'avb', 'avp', 'avy', 'axp',
       'azo', 'ba', 'bac', 'bax', 'bbby', 'bbt', 'bby', 'bcr', 'bdx',
       'beam', 'ben', 'bhi', 'big', 'biib', 'bk', 'bks', 'blk', 'bll',
       'bms', 'bmy', 'brcm', 'bsx', 'btu', 'bwa', 'bxp', 'c', 'ca', 'cab',
       'cag', 'cah', 'cam', 'cat', 'cb', 'cbg', 'cbs', 'cce', 'cci',
       'ccl', 'celg', 'cern', 'cf', 'cfn', 'chk', 'chrw', 'ci', 'cim',
       'cinf', 'cl', 'clf', 'clx', 'cma', 'cmcsa', 'cme', 'cmg', 'cmi',
       'cms', 'cnp', 'cnx', 'cof', 'cog', 'coh', 'col', 'cop', 'cost',
       'cov', 'cpb', 'crm', 'csc', 'csco', 'csx', 'ctas', 'ctl', 'ctsh',
       'ctxs', 'cvc', 'cvs', 'cvx', 'd', 'dal', 'dd', 'dds', 'de', 'dell',
       'df', 'dfs', 'dg', 'dgx', 'dhi', 'dhr', 'dis', 'disca', 'dks',
       'dlph', 'dltr', 'dlx', 'dnb', 'dnr', 'do', 'dov', 'dow', 'dps',
       'dri', 'dsw', 'dte', 'dtv', 'duk', 'dva', 'dvn', 'ea', 'ebay',
       'ecl', 'ed', 'efx', 'eix', 'el', 'emc', 'emn', 'emr', 'eog', 'eqr',
       'eqt', 'esrx', 'esv', 'etfc', 'etn', 'etr', 'ew', 'exc', 'expd',
       'expe', 'expr', 'f', 'fast', 'fb', 'fcx', 'fdo', 'fdx', 'fe',
       'ffiv', 'fhn', 'fis', 'fisv', 'fitb', 'fl', 'flir', 'flr', 'fls',
       'flws', 'fmc', 'fosl', 'frx', 'fslr', 'fti', 'ftr', 'gas', 'gci',
       'gd', 'ge', 'ges', 'gild', 'gis', 'glw', 'gm', 'gmcr', 'gme',
       'gnw', 'goog', 'gpc', 'gps', 'grmn', 'grpn', 'gs', 'gt', 'gww',
       'hal', 'har', 'has', 'hban', 'hcbk', 'hcn', 'hcp', 'hd', 'hes',
       'hig', 'hog', 'hon', 'hot', 'hov', 'hp', 'hpq', 'hrb', 'hrl',
       'hrs', 'hsp', 'hst', 'hsy', 'hum', 'ibm', 'ice', 'iff', 'igt',
       'intc', 'intu', 'ip', 'ipg', 'ir', 'irm', 'isrg', 'itw', 'ivz',
       'jbl', 'jci', 'jcp', 'jdsu', 'jec', 'jnj', 'jnpr', 'joy', 'jpm',
       'jwn', 'k', 'key', 'kim', 'klac', 'kmb', 'kmi', 'kmx', 'ko', 'kr',
       'krft', 'kss', 'ksu', 'l', 'leg', 'len', 'lh', 'life', 'lll',
       'lltc', 'lly', 'lm', 'lmt', 'lnc', 'lo', 'low', 'lrcx', 'lsi',
       'luk', 'luv', 'lyb', 'm', 'ma', 'mac', 'mar', 'mas', 'mat', 'mcd',
       'mchp', 'mck', 'mco', 'mcp', 'mdlz', 'mdt', 'met', 'mgm', 'mhfi',
       'mjn', 'mkc', 'mmc', 'mmm', 'mnst', 'mo', 'mon', 'mos', 'mpc',
       'mrk', 'mro', 'ms', 'msft', 'msi', 'mtb', 'mu', 'mur', 'mwv',
       'myl', 'nbl', 'nbr', 'ndaq', 'ne', 'nee', 'nem', 'nflx', 'nfx',
       'ni', 'nile', 'nke', 'nly', 'noc', 'nov', 'nrg', 'nsc', 'ntap',
       'ntri', 'ntrs', 'nu', 'nue', 'nvda', 'nwl', 'nwsa', 'oi', 'oke',
       'omc', 'orcl', 'orly', 'oxy', 'p', 'payx', 'pbct', 'pbi', 'pcar',
       'pcg', 'pcl', 'pcln', 'pcp', 'pdco', 'peg', 'pep', 'petm', 'pets',
       'pfe', 'pfg', 'pg', 'pgr', 'ph', 'phm', 'pki', 'pld', 'pll', 'pm',
       'pnc', 'pnr', 'pnw', 'pom', 'ppg', 'ppl', 'prgo', 'pru', 'psa',
       'psx', 'pwr', 'px', 'pxd', 'qcom', 'qep', 'r', 'rai', 'rdc', 'rf',
       'rhi', 'rht', 'rl', 'rok', 'rop', 'rost', 'rrc', 'rsg', 'rsh',
       'rtn', 's', 'sbux', 'scg', 'schl', 'schw', 'sd', 'se', 'see',
       'sfly', 'shld', 'shw', 'sial', 'siri', 'sjm', 'slb', 'slm', 'sna',
       'sndk', 'sni', 'so', 'spg', 'spls', 'srcl', 'sre', 'sti', 'stj',
       'stt', 'stx', 'stz', 'swk', 'swn', 'swy', 'syk', 'symc', 'syy',
       't', 'tap', 'tdc', 'te', 'teg', 'tel', 'ter', 'tgt', 'thc', 'tibx',
       'tif', 'tjx', 'tmk', 'tmo', 'trip', 'trow', 'trv', 'tsla', 'tsn',
       'tso', 'tss', 'twc', 'twx', 'txn', 'txt', 'tyc', 'ua', 'unh',
       'unm', 'unp', 'ups', 'urbn', 'usb', 'utx', 'v', 'var', 'vfc',
       'viab', 'vitc', 'vlo', 'vmc', 'vno', 'vprt', 'vrsn', 'vtr', 'vz',
       'wag', 'wat', 'wdc', 'wec', 'wfc', 'wfm', 'whr', 'win', 'wlp',
       'wm', 'wmb', 'wmt', 'wtw', 'wu', 'wy', 'wyn', 'wynn', 'x', 'xel',
       'xl', 'xlnx', 'xom', 'xray', 'xrx', 'xyl', 'yhoo', 'yum', 'zion',
       'zlc', 'zmh', 'znga'], dtype=object)

In [11]:
#List of number columns
num_col = df.dtypes[df.dtypes == 'float64'].index.tolist()
num_col

['Price',
 'DE Ratio',
 'Trailing P/E',
 'Price/Sales',
 'Price/Book',
 'Profit Margin',
 'Operating Margin',
 'Return on Assets',
 'Return on Equity',
 'Revenue Per Share',
 'Market Cap',
 'Enterprise Value',
 'Forward P/E',
 'PEG Ratio',
 'Enterprise Value/Revenue',
 'Enterprise Value/EBITDA',
 'Revenue',
 'Gross Profit',
 'EBITDA',
 'Net Income Avl to Common ',
 'Diluted EPS',
 'Earnings Growth',
 'Revenue Growth',
 'Total Cash',
 'Total Cash Per Share',
 'Total Debt',
 'Current Ratio',
 'Book Value Per Share',
 'Cash Flow',
 'Beta']

In [12]:
# data types
df.dtypes

Date                          object
Ticker                        object
Price                        float64
DE Ratio                     float64
Trailing P/E                 float64
Price/Sales                  float64
Price/Book                   float64
Profit Margin                float64
Operating Margin             float64
Return on Assets             float64
Return on Equity             float64
Revenue Per Share            float64
Market Cap                   float64
Enterprise Value             float64
Forward P/E                  float64
PEG Ratio                    float64
Enterprise Value/Revenue     float64
Enterprise Value/EBITDA      float64
Revenue                      float64
Gross Profit                 float64
EBITDA                       float64
Net Income Avl to Common     float64
Diluted EPS                  float64
Earnings Growth              float64
Revenue Growth               float64
Total Cash                   float64
Total Cash Per Share         float64
Total Debt                   float64
Current Ratio                float64
Book Value Per Share         float64
Cash Flow                    float64
Beta                         float64
dtype: object

In [13]:
#Replace NaN with Mean
#ticker='a'
for ticker in tickers:
    m = df[df['Ticker'] == ticker][num_col].mean()
    mask = df[df['Ticker'] == ticker]
    mask[num_col] = mask[num_col].fillna(value = m)
    df[df['Ticker'] == ticker] = mask
df

C:\Users\levfl\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,Return on Assets,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,1/30/2004 19:01,a,33.8320,0.407,18.158125,2.80,6.01,29.56,11.97,24.95,...,3.774,114.269231,0.80,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474000
1,4/13/2004 4:07,a,28.4626,0.375,18.158125,2.43,4.98,25.56,6.20,23.59,...,3.391,114.269231,0.80,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496000
2,12/13/2004 21:37,a,21.8816,0.323,33.580000,1.61,3.24,4.86,5.38,5.26,...,0.710,114.269231,0.80,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547000
3,1/22/2005 5:17,a,20.2478,0.322,30.700000,1.52,3.04,4.86,5.38,5.26,...,0.710,114.269231,18.60,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166000
4,1/9/2006 2:35,a,31.7118,2.169,52.820000,3.31,4.26,6.38,3.58,1.68,...,0.660,64.900000,22.80,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,2.021353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,11/1/2012 16:37,znga,2.2300,5.390,128.105000,1.37,0.94,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9128,11/10/2012 0:28,znga,2.2300,5.390,128.105000,1.32,0.91,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9129,2/16/2013 1:09,znga,3.1700,5.480,128.105000,1.96,1.37,16.35,6.83,2.15,...,0.280,53.900000,49.36,1.280000e+09,1.670,1.000000e+08,2.920,2.370,195770000.0,3.940000
9130,4/22/2013 2:07,znga,3.2300,5.480,128.105000,1.95,1.36,16.35,6.59,2.07,...,0.280,53.900000,49.36,1.280000e+09,1.640,1.000000e+08,2.920,2.340,195770000.0,3.790000
9131,5/10/2013 5:43,znga,3.2300,5.370,128.105000,2.11,1.39,9.80,0.03,0.01,...,0.160,53.900000,17.90,1.270000e+09,1.600,1.000000e+08,3.310,2.350,143400000.0,3.790000

In [14]:
#Replace None with Mean
#ticker='kim'
#for ticker in tickers:
#m = df[df['Ticker'] == ticker][num_col].mean()
#mask = df[df['Ticker'] == ticker]
#mask.loc[mask[num_col] =='None'] = m # mask[num_col].replace('None', m)
    #df[df['Ticker'] == ticker] = mask
#mask

In [15]:
#Check remaining Nans
df.isnull().sum()

Date                           0
Ticker                         0
Price                         59
DE Ratio                     490
Trailing P/E                  38
Price/Sales                    0
Price/Book                    27
Profit Margin                  0
Operating Margin               0
Return on Assets               0
Return on Equity               7
Revenue Per Share              0
Market Cap                     0
Enterprise Value               0
Forward P/E                   49
PEG Ratio                     18
Enterprise Value/Revenue       0
Enterprise Value/EBITDA      571
Revenue                        0
Gross Profit                   0
EBITDA                       571
Net Income Avl to Common       0
Diluted EPS                    0
Earnings Growth               44
Revenue Growth                 1
Total Cash                     0
Total Cash Per Share           0
Total Debt                     0
Current Ratio                462
Book Value Per Share           0
Cash Flow                      0
Beta                           0
dtype: int64

In [16]:
#df[df['DE Ratio'].isnull()]

In [17]:
#drop remaining Nans
df.dropna(axis = 'rows', how='any',inplace=True)
df

,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,Return on Assets,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,1/30/2004 19:01,a,33.8320,0.407,18.158125,2.80,6.01,29.56,11.97,24.95,...,3.774,114.269231,0.80,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474000
1,4/13/2004 4:07,a,28.4626,0.375,18.158125,2.43,4.98,25.56,6.20,23.59,...,3.391,114.269231,0.80,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496000
2,12/13/2004 21:37,a,21.8816,0.323,33.580000,1.61,3.24,4.86,5.38,5.26,...,0.710,114.269231,0.80,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547000
3,1/22/2005 5:17,a,20.2478,0.322,30.700000,1.52,3.04,4.86,5.38,5.26,...,0.710,114.269231,18.60,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166000
4,1/9/2006 2:35,a,31.7118,2.169,52.820000,3.31,4.26,6.38,3.58,1.68,...,0.660,64.900000,22.80,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,2.021353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,11/1/2012 16:37,znga,2.2300,5.390,128.105000,1.37,0.94,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9128,11/10/2012 0:28,znga,2.2300,5.390,128.105000,1.32,0.91,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9129,2/16/2013 1:09,znga,3.1700,5.480,128.105000,1.96,1.37,16.35,6.83,2.15,...,0.280,53.900000,49.36,1.280000e+09,1.670,1.000000e+08,2.920,2.370,195770000.0,3.940000
9130,4/22/2013 2:07,znga,3.2300,5.480,128.105000,1.95,1.36,16.35,6.59,2.07,...,0.280,53.900000,49.36,1.280000e+09,1.640,1.000000e+08,2.920,2.340,195770000.0,3.790000
9131,5/10/2013 5:43,znga,3.2300,5.370,128.105000,2.11,1.39,9.80,0.03,0.01,...,0.160,53.900000,17.90,1.270000e+09,1.600,1.000000e+08,3.310,2.350,143400000.0,3.790000

In [18]:
df.isnull().sum()

Date                         0
Ticker                       0
Price                        0
DE Ratio                     0
Trailing P/E                 0
Price/Sales                  0
Price/Book                   0
Profit Margin                0
Operating Margin             0
Return on Assets             0
Return on Equity             0
Revenue Per Share            0
Market Cap                   0
Enterprise Value             0
Forward P/E                  0
PEG Ratio                    0
Enterprise Value/Revenue     0
Enterprise Value/EBITDA      0
Revenue                      0
Gross Profit                 0
EBITDA                       0
Net Income Avl to Common     0
Diluted EPS                  0
Earnings Growth              0
Revenue Growth               0
Total Cash                   0
Total Cash Per Share         0
Total Debt                   0
Current Ratio                0
Book Value Per Share         0
Cash Flow                    0
Beta                         0
dtype: int64

In [19]:
df.describe()

,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,Return on Assets,Return on Equity,Revenue Per Share,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
count,8.345000e+03,8345.000000,8345.000000,8345.000000,8345.000000,8345.000000,8345.000000,8345.000000,8345.000000,8345.000000,...,8345.000000,8345.000000,8345.000000,8.345000e+03,8.345000e+03,8.345000e+03,8345.000000,8345.000000,8.345000e+03,8345.000000
mean,2.246744e+05,34.295701,29.190484,3.077368,5.245862,12.618482,17.701730,8.259699,27.574194,39.057522,...,3.308050,79.685804,26.759106,7.326090e+09,1.833691e+07,1.281523e+10,2.266766,18.057317,8.652418e+09,1.389150
std,2.060423e+06,82.441070,53.055592,14.890931,22.084525,13.086093,16.024305,6.220883,62.203166,46.625168,...,11.551713,232.877920,269.135844,5.421397e+10,4.585260e+08,4.929358e+10,5.582162,20.702655,2.905563e+10,3.515112
min,1.278000e-01,0.000000,0.000000,0.000000,0.000000,0.010000,0.010000,0.000000,0.000000,0.002000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.009000,0.000000,2.000000e+06,0.001000
25%,2.053220e+01,0.441000,13.560000,0.880000,1.810000,5.230000,8.510000,4.050000,11.250000,12.442000,...,1.220000,13.636364,5.400000,3.110000e+08,1.311000e+00,6.177000e+08,1.129000,7.821000,5.563000e+08,0.650000
50%,3.270970e+01,1.680000,18.750000,1.660000,2.930000,9.310000,14.460000,7.270000,17.740000,24.769000,...,2.204000,31.900000,11.100000,9.887700e+08,2.750000e+00,2.530000e+09,1.562000,13.662000,1.565561e+09,1.090000
75%,5.170040e+01,33.462500,26.840000,3.040000,4.740000,15.720000,22.640000,11.000000,26.230000,48.637000,...,3.750000,70.100000,21.200000,2.910000e+09,5.390000e+00,7.820000e+09,2.361000,22.310000,5.490000e+09,1.590000
max,7.639660e+07,987.070000,968.670000,732.160000,876.740000,223.470000,597.300000,113.670000,1642.390000,592.270000,...,508.130000,13667.900000,13219.300000,9.498000e+11,1.745000e+10,5.487000e+11,218.000000,472.609985,6.115200e+11,212.840000

In [20]:
#Remove outliers
#from scipy import stats
for i in num_col:
    df = df[np.abs(df[i]-df[i].mean()) <= (3*df[i].std())]

df = df[df['Price']<10000]
#cdf[(np.abs(stats.zscore(cdf)) < 3).all(axis=0)]
#cdf[(np.abs(stats.zscore(cdf[0])) < 3)]
df.describe()

,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,Return on Assets,Return on Equity,Revenue Per Share,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
count,5461.000000,5461.000000,5461.000000,5461.000000,5461.000000,5461.000000,5461.000000,5461.000000,5461.000000,5461.000000,...,5461.000000,5461.000000,5461.000000,5.461000e+03,5.461000e+03,5.461000e+03,5461.000000,5461.000000,5.461000e+03,5461.000000
mean,37.584803,23.028505,24.650884,2.204068,3.837607,10.415157,15.640101,8.118199,20.049162,33.307688,...,2.410882,62.946148,14.571060,1.557439e+09,2.268518e+06,3.620854e+09,1.924717,15.393998,2.842347e+09,1.221581
std,38.980997,44.516702,19.523281,1.976997,3.321666,7.460080,9.591251,4.727978,15.289953,28.670031,...,1.688436,103.993435,13.847164,2.263683e+09,3.945928e+07,4.537063e+09,1.178667,10.039902,4.368913e+09,0.914680
min,1.408900,0.000000,1.710000,0.020000,0.080000,0.060000,0.040000,0.000000,0.000000,0.438000,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.168000,0.000000,2.000000e+06,0.001000
25%,19.805000,0.393000,14.710000,0.900000,1.890000,5.040000,8.480000,4.430000,11.080000,13.666000,...,1.180000,13.300000,5.200000,2.557200e+08,1.220000e+00,4.915800e+08,1.150000,7.880000,4.917600e+08,0.679000
50%,30.740000,1.237556,19.620000,1.570000,2.980000,8.430000,13.550000,7.530000,17.180000,24.800000,...,1.990000,29.300000,10.500000,7.220300e+08,2.600000e+00,1.850000e+09,1.590000,13.159000,1.200000e+09,1.090000
75%,44.712800,27.130000,27.532143,2.790000,4.660000,14.000000,20.810000,10.890000,24.130000,44.323000,...,3.230000,63.900000,18.900000,1.990000e+09,4.620000e+00,5.010000e+09,2.307000,20.433001,3.440000e+09,1.570000
max,663.650800,281.390000,190.250000,22.090000,46.710000,49.330000,53.150000,26.130000,138.940000,181.520000,...,9.700000,811.600000,85.900000,1.616000e+10,1.140000e+09,2.523000e+10,7.318000,50.212002,3.163000e+10,12.230000

In [21]:
#export clean data
df.to_csv('Resources/clean_data.csv', index=False)

In [22]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder, MinMaxScaler
import pandas as pd
#import tensorflow as tf
#turn off the warnings
#from tensorflow 
import keras
import warnings
warnings.filterwarnings('ignore')

# Import checkpoint dependencies
import os
from keras.callbacks import ModelCheckpoint
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import mean_absolute_error
import sklearn
import matplotlib.pyplot as plt

In [23]:
#import clean data
cdf0 = pd.read_csv('Resources/clean_data.csv')
cdf0

,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,Return on Assets,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,1/30/2004 19:01,a,33.8320,0.407,18.158125,2.80,6.01,29.56,11.97,24.95000,...,3.774,114.269231,0.8,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474000
1,4/13/2004 4:07,a,28.4626,0.375,18.158125,2.43,4.98,25.56,6.20,23.59000,...,3.391,114.269231,0.8,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496000
2,12/13/2004 21:37,a,21.8816,0.323,33.580000,1.61,3.24,4.86,5.38,5.26000,...,0.710,114.269231,0.8,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547000
3,1/22/2005 5:17,a,20.2478,0.322,30.700000,1.52,3.04,4.86,5.38,5.26000,...,0.710,114.269231,18.6,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166000
4,1/9/2006 2:35,a,31.7118,2.169,52.820000,3.31,4.26,6.38,3.58,1.68000,...,0.660,64.900000,22.8,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,2.021353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5456,12/30/2011 4:26,znga,9.4100,5.422,126.620000,6.48,8.17,7.19,11.04,10.75125,...,0.070,53.900000,79.8,9.256300e+08,1.320,0.000000e+00,1.590,1.160,283040000.0,3.840000
5457,1/11/2012 4:01,znga,8.3300,5.422,115.270000,5.46,6.88,7.19,11.04,10.75125,...,0.070,53.900000,79.8,9.256300e+08,1.320,0.000000e+00,1.590,1.160,283040000.0,3.840000
5458,3/11/2012 15:30,znga,13.6700,5.422,128.105000,8.71,5.64,35.46,35.77,14.04000,...,1.400,53.900000,59.0,1.810000e+09,2.490,0.000000e+00,3.030,2.420,389170000.0,3.840000
5459,3/19/2012 5:12,znga,13.2400,5.422,128.105000,8.32,5.39,35.46,35.77,14.04000,...,1.400,53.900000,59.0,1.810000e+09,2.490,0.000000e+00,3.030,2.420,389170000.0,3.840000
5460,7/13/2012 3:20,znga,4.9000,5.422,128.105000,2.99,2.04,41.57,43.47,16.42000,...,1.230,53.900000,32.1,1.060000e+09,1.440,0.000000e+00,2.190,2.420,364330000.0,3.840000

In [24]:
cdf = cdf0.drop(columns = ['Date','Ticker','DE Ratio',
    #'Trailing P/E',
    'Price/Sales',
    'Price/Book',
    'Profit Margin',
    'Operating Margin',
    #'Return on Assets',
    #'Return on Equity',
    'Revenue Per Share',
    'Market Cap',
    'Enterprise Value',
    #'Forward P/E',
    #'PEG Ratio',
    'Enterprise Value/Revenue',
    #'Enterprise Value/EBITDA',
    'Revenue',
    'Gross Profit',
    'EBITDA',
    'Net Income Avl to Common ',
    'Diluted EPS',
    #'Earnings Growth',
    'Revenue Growth',
    'Total Cash',
    'Total Cash Per Share',
    'Total Debt',
    'Current Ratio',
    'Book Value Per Share',
    'Cash Flow',
    'Beta'
                         ])
active_col = cdf.columns.to_list()
active_col

['Price',
 'Trailing P/E',
 'Return on Assets',
 'Return on Equity',
 'Forward P/E',
 'PEG Ratio',
 'Enterprise Value/EBITDA',
 'Earnings Growth']

In [25]:
cdf.dtypes

Price                      float64
Trailing P/E               float64
Return on Assets           float64
Return on Equity           float64
Forward P/E                float64
PEG Ratio                  float64
Enterprise Value/EBITDA    float64
Earnings Growth            float64
dtype: object

In [26]:
# Split our preprocessed data into our features and target arrays
y = cdf["Price"].values
X = cdf.drop(["Price"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_train_scaled

array([[-0.06730375, -0.72875504, -0.38100398, ..., -0.01216042,
        -0.36406499, -0.34409466],
       [ 0.64605897,  0.00803786, -0.41603636, ..., -0.28232449,
         1.10780823, -0.24176243],
       [ 0.33882121,  0.15200888, -0.31969733, ..., -0.47529882,
         0.83095216, -0.56297192],
       ...,
       [ 0.53500917,  0.23034606,  0.69152562, ...,  0.21940878,
         1.48414479, -0.32514425],
       [-0.8266728 , -0.88542939, -0.73671732, ...,  0.45097798,
        -0.73179867, -0.15838061],
       [ 0.07917622,  1.3037771 , -0.00979556, ..., -0.15110194,
         0.17400556,  0.4395049 ]])

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

#nn = tf.keras.models.Sequential()
nn = keras.models.Sequential()

# First hidden layer
nn.add(keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="selu"))

# Second hidden layer
nn.add(keras.layers.Dense(units=hidden_nodes_layer2, activation="selu"))

# Third hidden layer
nn.add(keras.layers.Dense(units=hidden_nodes_layer3, activation="selu"))

# Output layer
nn.add(keras.layers.Dense(units=1, activation="relu"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                640

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 3,391
Trainable params: 3,391
Non-trainable params: 0
_________________________________________________________________

In [29]:
train_size = len(X_train_scaled)
train_size

4095

In [30]:
batch_size = 32
steps_per_epoch = train_size / batch_size
save_period = 5
save_freq = int(save_period * steps_per_epoch)

In [31]:
# Compile the model
nn.compile(loss="mean_absolute_error", optimizer="adam")

In [32]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, batch_size = batch_size)

Epoch 1/50
128/128 [==============================] - 1s 2ms/step - loss: 31.4461
Epoch 2/50
128/128 [==============================] - 0s 2ms/step - loss: 19.1829
Epoch 3/50
128/128 [==============================] - 0s 2ms/step - loss: 18.2987
Epoch 4/50
128/128 [==============================] - 0s 2ms/step - loss: 18.2017
Epoch 5/50
128/128 [==============================] - 0s 2ms/step - loss: 18.0798
Epoch 6/50
128/128 [==============================] - 0s 2ms/step - loss: 17.9490
Epoch 7/50
128/128 [==============================] - 0s 1ms/step - loss: 17.8584
Epoch 8/50
128/128 [==============================] - 0s 1ms/step - loss: 17.7685
Epoch 9/50
128/128 [==============================] - 0s 1ms/step - loss: 17.7482
Epoch 10/50
128/128 [==============================] - 0s 1ms/step - loss: 17.7114
Epoch 11/50
128/128 [==============================] - 0s 1ms/step - loss: 17.6764
Epoch 12/50
128/128 [==============================] - 0s 2ms/step - loss: 17.5965
Epoch 13/50
128/128 [==============================] - 0s 2ms/step - loss: 17.5574
Epoch 14/50
128/128 [==============================] - 0s 1ms/step - loss: 17.5274
Epoch 15/50
128/128 [==============================] - 0s 2ms/step - loss: 17.5284
Epoch 16/50
128/128 [==============================] - 0s 2ms/step - loss: 17.4572
Epoch 17/50
128/128 [==============================] - 0s 2ms/step - loss: 17.4618
Epoch 18/50
128/128 [==============================] - 0s 2ms/step - loss: 17.4094
Epoch 19/50
128/128 [==============================] - 0s 2ms/step - loss: 17.3738
Epoch 20/50
128/128 [==============================] - 0s 2ms/step - loss: 17.3467
Epoch 21/50
128/128 [==============================] - 0s 2ms/step - loss: 17.3270
Epoch 22/50
128/128 [==============================] - 0s 2ms/step - loss: 17.3235
Epoch 23/50
128/128 [==============================] - 0s 2ms/step - loss: 17.2962
Epoch 24/50
128/128 [==============================] - 0s 2ms/step - loss: 17.2820
Epoch 25/50
128/128 [==============================] - 0s 1ms/step - loss: 17.2511
Epoch 26/50
128/128 [==============================] - 0s 2ms/step - loss: 17.2265
Epoch 27/50
128/128 [==============================] - 0s 2ms/step - loss: 17.2633
Epoch 28/50
128/128 [==============================] - 0s 2ms/step - loss: 17.1646
Epoch 29/50
128/128 [==============================] - 0s 1ms/step - loss: 17.1961
Epoch 30/50
128/128 [==============================] - 0s 2ms/step - loss: 17.1868
Epoch 31/50
128/128 [==============================] - 0s 2ms/step - loss: 17.1765
Epoch 32/50
128/128 [==============================] - 0s 2ms/step - loss: 17.1309
Epoch 33/50
128/128 [==============================] - 0s 2ms/step - loss: 17.1157
Epoch 34/50
128/128 [==============================] - 0s 2ms/step - loss: 17.1117
Epoch 35/50
128/128 [==============================] - 0s 2ms/step - loss: 17.0765
Epoch 36/50
128/128 [==============================] - 0s 2ms/step - loss: 17.0738
Epoch 37/50
128/128 [==============================] - 0s 2ms/step - loss: 17.0763
Epoch 38/50
128/128 [==============================] - 0s 2ms/step - loss: 17.0749
Epoch 39/50
128/128 [==============================] - 0s 2ms/step - loss: 17.0543
Epoch 40/50
128/128 [==============================] - 0s 2ms/step - loss: 17.0183
Epoch 41/50
128/128 [==============================] - 0s 2ms/step - loss: 17.0445
Epoch 42/50
128/128 [==============================] - 0s 2ms/step - loss: 17.0194
Epoch 43/50
128/128 [==============================] - 0s 2ms/step - loss: 17.0131
Epoch 44/50
128/128 [==============================] - 0s 2ms/step - loss: 16.9860
Epoch 45/50
128/128 [==============================] - 0s 2ms/step - loss: 16.9949
Epoch 46/50
128/128 [==============================] - 0s 2ms/step - loss: 16.9846
Epoch 47/50
128/128 [==============================] - 0s 2ms/step - loss: 16.9566
Epoch 48/50
128/128 [==============================] - 0s 2ms/step - loss: 16.9443
Epoch 49/50
128/128 [==============================] - 0s 2ms/step - loss: 16.9586
Epoch 50/50
128/128 [==============================] - 0s 1ms/step - loss: 16.9460

In [33]:
pred = X_test[:100]#.reshape(-1, 1)
pred = pred.reshape(-1,cdf.shape[1]-1)
pred.shape

(100, 7)

In [34]:
ee = nn.predict(pred)
for rr in range(len(pred)):
    print(f"Prediction: {ee[rr]}, Actual: {y_test[:100][rr]}")

4/4 [==============================] - 0s 2ms/step
Prediction: [0.], Actual: 69.962
Prediction: [59.52694], Actual: 18.3463
Prediction: [26.113033], Actual: 18.69
Prediction: [23.9892], Actual: 84.1558
Prediction: [22.266764], Actual: 12.6961
Prediction: [32.228638], Actual: 31.8539
Prediction: [28.221622], Actual: 28.6092
Prediction: [53.26267], Actual: 19.24
Prediction: [0.], Actual: 57.246
Prediction: [50.592945], Actual: 44.0012
Prediction: [68.77335], Actual: 11.3192
Prediction: [0.], Actual: 129.14
Prediction: [41.872925], Actual: 70.18
Prediction: [34.853245], Actual: 26.7189
Prediction: [29.435862], Actual: 4.028
Prediction: [28.700615], Actual: 27.79
Prediction: [13.200017], Actual: 30.2227
Prediction: [7.7243137], Actual: 7.4259
Prediction: [42.580227], Actual: 19.9703
Prediction: [26.42733], Actual: 33.7333
Prediction: [69.45827], Actual: 19.3184
Prediction: [76.36141], Actual: 42.6039
Prediction: [5.128382], Actual: 42.1488
Prediction: [78.35641], Actual: 63.2975
Prediction: [38.51702], Actual: 28.5126
Prediction: [29.727997], Actual: 25.457
Prediction: [5.454935], Actual: 20.21
Prediction: [26.571726], Actual: 8.6367
Prediction: [6.7443852], Actual: 34.5017
Prediction: [16.469105], Actual: 32.495
Prediction: [17.468342], Actual: 19.66
Prediction: [117.26707], Actual: 34.2902
Prediction: [95.64455], Actual: 25.2095
Prediction: [0.], Actual: 27.8716
Prediction: [43.865223], Actual: 54.0278
Prediction: [23.229727], Actual: 20.392575
Prediction: [54.558075], Actual: 37.6617
Prediction: [14.505399], Actual: 27.2434
Prediction: [19.479525], Actual: 43.3533
Prediction: [116.377426], Actual: 15.16
Prediction: [32.919365], Actual: 32.219
Prediction: [62.47629], Actual: 5.7012
Prediction: [22.518843], Actual: 75.4352
Prediction: [29.611788], Actual: 17.3358
Prediction: [7.847447], Actual: 25.4443
Prediction: [83.97328], Actual: 50.0955
Prediction: [123.69643], Actual: 52.3226
Prediction: [18.555185], Actual: 13.2164
Prediction: [11.93475], Actual: 42.2338
Prediction: [16.11869], Actual: 21.5038
Prediction: [0.], Actual: 14.9734
Prediction: [14.9587965], Actual: 32.856
Prediction: [15.240371], Actual: 13.4686
Prediction: [23.486538], Actual: 30.5509
Prediction: [5.1597], Actual: 40.4069
Prediction: [49.265797], Actual: 20.5928
Prediction: [34.35795], Actual: 46.20555555555555
Prediction: [39.245335], Actual: 19.9874
Prediction: [83.39558], Actual: 8.2042
Prediction: [21.446655], Actual: 31.0901
Prediction: [2.110972], Actual: 3.0
Prediction: [60.71893], Actual: 36.8005
Prediction: [0.], Actual: 6.12
Prediction: [30.31229], Actual: 26.7715
Prediction: [8.472621], Actual: 42.3406
Prediction: [25.368431], Actual: 8.7393
Prediction: [158.17882], Actual: 28.36
Prediction: [45.899075], Actual: 127.96
Prediction: [7.17736], Actual: 23.5218
Prediction: [32.806698], Actual: 56.86
Prediction: [77.1419], Actual: 22.9
Prediction: [13.586933], Actual: 29.42
Prediction: [0.04131453], Actual: 36.0873
Prediction: [0.], Actual: 13.24
Prediction: [87.50631], Actual: 10.5425
Prediction: [26.635408], Actual: 21.6923
Prediction: [75.72064], Actual: 44.4787
Prediction: [67.02486], Actual: 41.3791
Prediction: [74.97229], Actual: 32.29
Prediction: [11.597246], Actual: 40.5745
Prediction: [15.601405], Actual: 22.7524
Prediction: [39.769814], Actual: 39.8076
Prediction: [44.594933], Actual: 32.98
Prediction: [46.60883], Actual: 87.4591
Prediction: [10.877843], Actual: 14.0872
Prediction: [16.10431], Actual: 63.0638
Prediction: [33.05058], Actual: 18.4301
Prediction: [185.3093], Actual: 15.7665
Prediction: [13.727473], Actual: 23.8865
Prediction: [13.945758], Actual: 57.4079
Prediction: [21.122837], Actual: 26.4185
Prediction: [29.661453], Actual: 29.4298
Prediction: [36.3538], Actual: 43.0813
Prediction: [8.983125], Actual: 40.5068
Prediction: [20.84344], Actual: 45.0062
Prediction: [3.094207], Actual: 36.1533
Prediction: [38.31259], Actual: 25.6071
Prediction: [3.6788561], Actual: 3.53
Prediction: [33.582153], Actual: 39.6097
Prediction: [32.355625], Actual: 43.8754

In [35]:
# Evaluate the model using the test data
model_loss = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}")

43/43 - 0s - loss: 14.7721 - 167ms/epoch - 4ms/step
Loss: 14.772093772888184

In [36]:
# Calculate Adjusted r-square
import statsmodels.api as sm
XaddC = sm.add_constant(X_test_scaled)
result = sm.OLS(y_test, XaddC).fit()
print(result.rsquared, result.rsquared_adj)

0.04463263205635071 0.039708057994785495

In [37]:
# Export the model to HDF5 file
nn.save("Model/Stock_Optimization.h5")

In [38]:
#Connect to PostgreSQL
import psycopg2
from sqlalchemy import create_engine
from config import postgres_pass
conn = psycopg2.connect(host="localhost", port = 5432, database="final_project", user="postgres", password=postgres_pass)

In [39]:
db_string = f"postgresql://postgres:{postgres_pass}@127.0.0.1:5432/final_project"
engine = create_engine(db_string)

In [40]:
# Move the Cleaned data to Postgres
cdf.to_sql(name='clean_data', con=engine, if_exists='replace')

In [41]:
# Select Ticker
ticker = 'kim'

In [42]:
# pull Ticker details from Yahoo Finance
ticker_dict = yf.Ticker(ticker)
t_info = ticker_dict.info
t_info
#hist = msft.history(period="max")
#print(hist)

{'zip': '11753',
 'sector': 'Real Estate',
 'longBusinessSummary': "Kimco Realty Corp. (NYSE:KIM) is a real estate investment trust (REIT) headquartered in Jericho, N.Y. that is one of North America's largest publicly traded owners and operators of open-air, grocery-anchored shopping centers and mixed-use assets. As of September 30, 2020, the company owned interests in 400 U.S. shopping centers and mixed-use assets comprising 70 million square feet of gross leasable space primarily concentrated in the top major metropolitan markets. Publicly traded on the NYSE since 1991, and included in the S&P 500 Index, the company has specialized in shopping center acquisitions, development and management for more than 60 years.",
 'city': 'Jericho',
 'phone': '516-869-7235',
 'state': 'NY',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'https://www.kimcorealty.com',
 'maxAge': 1,
 'address1': '500 North Broadway',
 'industry': 'REIT—Retail',
 'address2': 'Suite 201',
 'ebitdaMargins': 0.58344,
 'profitMargins': 0.61855,
 'grossMargins': 0.69374,
 'operatingCashflow': None,
 'revenueGrowth': 0.576,
 'operatingMargins': 0.32773998,
 'ebitda': 796148928,
 'targetLowPrice': 24,
 'recommendationKey': 'buy',
 'grossProfits': 946674000,
 'freeCashflow': None,
 'targetMedianPrice': 27,
 'currentPrice': 23.95,
 'earningsGrowth': -0.731,
 'currentRatio': 109.829,
 'returnOnAssets': 0.01859,
 'numberOfAnalystOpinions': 21,
 'targetMeanPrice': 26.81,
 'debtToEquity': 75.067,
 'returnOnEquity': 0.107489996,
 'targetHighPrice': 31,
 'totalCash': 334663008,
 'totalDebt': 7599480832,
 'totalRevenue': 1364584960,
 'totalCashPerShare': 0.543,
 'financialCurrency': 'USD',
 'revenuePerShare': 2.695,
 'quickRatio': 109.829,
 'recommendationMean': 2.1,
 'exchange': 'NYQ',
 'shortName': 'Kimco Realty Corporation',
 'longName': 'Kimco Realty Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'KIM',
 'messageBoardId': 'finmb_320371',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 16.311,
 'beta3Year': None,
 'enterpriseToEbitda': 27.957,
 '52WeekChange': 0.35847986,
 'morningStarRiskRating': None,
 'forwardEps': 0.78,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 616428032,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 16.053,
 'sharesShort': 17028392,
 'sharesPercentSharesOut': 0.0276,
 'fundFamily': None,
 'lastFiscalYearEnd': 1640908800,
 'heldPercentInstitutions': 0.93209,
 'netIncomeToCommon': 815601024,
 'trailingEps': 1.601,
 'lastDividendValue': 0.17,
 'SandP52WeekChange': 0.12359536,
 'priceToBook': 1.4919331,
 'heldPercentInsiders': 0.02009,
 'nextFiscalYearEnd': 1703980800,
 'yield': None,
 'mostRecentQuarter': 1640908800,
 'shortRatio': 3.64,
 'sharesShortPreviousMonthDate': 1640908800,
 'floatShares': 599663482,
 'beta': 1.47986,
 'enterpriseValue': 22258083840,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1124841600,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'lastDividendDate': 1638921600,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.594,
 'priceToSalesTrailing12Months': 10.823059,
 'dateShortInterest': 1643587200,
 'pegRatio': 7.83,
 'ytdReturn': None,
 'forwardPE': 30.70513,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0322,
 'sharesShortPriorMonth': 17139286,
 'impliedSharesOutstanding': 0,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 24.14,
 'regularMarketOpen': 24.31,
 'twoHundredDayAverage': 22.32145,
 'trailingAnnualDividendYield': 0.028169015,
 'payoutRatio': 0.425,
 'volume24Hr': None,
 'regularMarketDayHigh': 24.72,
 'navPrice': None,
 'averageDailyVolume10Day': 5413200,
 'regularMarketPreviousClose': 24.14,
 'fiftyDayAverage': 23.9712,
 'trailingAnnualDividendRate': 0.68,
 'open': 24.31,
 'toCurrency': None,
 'averageVolume10days': 5413200,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 0.76,
 'exDividendDate': 1646784000,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 23.63,
 'currency': 'USD',
 'trailingPE': 14.959401,
 'regularMarketVolume': 7907650,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 14768984064,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 4311000,
 'dayLow': 23.63,
 'ask': 26.27,
 'askSize': 1200,
 'volume': 7907650,
 'fiftyTwoWeekHigh': 25.62,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 5.88,
 'fiftyTwoWeekLow': 17.51,
 'bid': 23.6,
 'tradeable': False,
 'dividendYield': 0.0317,
 'bidSize': 1000,
 'dayHigh': 24.72,
 'regularMarketPrice': 23.95,
 'preMarketPrice': None,
 'logo_url': 'https://logo.clearbit.com/kimcorealty.com',
 'trailingPegRatio': 3.6279}

In [43]:
# Get Ticker Features
tick_df = pd.DataFrame(list(t_info.items()))
tick_df = tick_df.transpose()
new_header = tick_df.iloc[0] 
for i in range(len(new_header)):
    new_header[i] = new_header[i].lower()
new_header
tick_df = tick_df[1:] 
tick_df.columns = new_header

#tick_df = tick_df._slice(slice(0, 1))
#tick_df = tick_df[active_col]
tick_df

,zip,sector,longbusinesssummary,city,phone,state,country,companyofficers,website,maxage,...,fiftytwoweeklow,bid,tradeable,dividendyield,bidsize,dayhigh,regularmarketprice,premarketprice,logo_url,trailingpegratio
1,11753,Real Estate,Kimco Realty Corp. (NYSE:KIM) is a real estate...,Jericho,516-869-7235,NY,United States,[],https://www.kimcorealty.com,1,...,17.51,23.6,False,0.0317,1000,24.72,23.95,None,https://logo.clearbit.com/kimcorealty.com,3.6279

In [44]:
#Selected Ticker to Postgres
tick_df.to_sql(name='ticker', con=engine, if_exists='replace')

In [45]:
# Create a cursor object
cur = conn.cursor()

In [46]:
#Query the Feature data for DL Model
cur.execute("""SELECT 
trailingPE, returnOnAssets, returnOnEquity, forwardPE, pegRatio, enterpriseToEbitda, earningsGrowth
FROM ticker;""")      

query_results = list(np.asarray(cur.fetchall()[0]))
print(query_results)

[14.959401, 0.01859, 0.107489996, 30.70513, 7.83, 27.957, -0.731]

In [47]:
for i in range(len(query_results)):
    if query_results[i] == None:
        query_results[i] =0
query_results

[14.959401, 0.01859, 0.107489996, 30.70513, 7.83, 27.957, -0.731]

In [48]:
# Load the Saved Model
#from tensorflow 
import keras
nn = keras.models.load_model("Model/Stock_Optimization.h5")

In [49]:
# Run the model to predict Stock Price
query_results = np.array(query_results).reshape(-1,1)
query_results = query_results.transpose()
query_results.shape
predicted_price = pd.DataFrame(data=nn.predict(query_results), columns=['predictedprice'], index=None)

print(predicted_price)

1/1 [==============================] - 0s 64ms/step
   predictedprice
0      136.310455

In [50]:
#Save Predicted Price to Postgres
#Selected Ticker to Postgres
predicted_price.to_sql(name='predicted_price', con=engine, if_exists='replace', index = None)

In [51]:
# Close the cursor and connection to so the server can allocate
# bandwidth to other requests
cur.close()
conn.close()

In [52]:
#cdf[cdf['earningsgrowth']==''

In [53]:
# WebSite
#from splinter import Browser
#from webdriver_manager.chrome import ChromeDriverManager

In [54]:
# Set up Splinter
#executable_path = {'executable_path': ChromeDriverManager().install()}
#browser = Browser('chrome', **executable_path, headless=True)

In [55]:
#url = 'https://redplanetscience.com'
#browser.visit(url)
# Optional delay for loading the page
#browser.is_element_present_by_css('div.list_text', wait_time=1)

In [56]:
#if __name__ == "__main__":