In [1]:
import pandas as pd
import numpy as np
import json
import requests
#from config import api_key
import yfinance as yf

#from pandas_datareader import data as pdr
yf.pdr_override()

In [2]:
#endpoint = "/v8/finance/spark"
#url = "https://yfapi.net" + endpoint

In [3]:
#querystring = {"symbols":"AAPL,BTC-USD,EURUSD=X"}

#headers = {
#    'x-api-key': api_key
#    }

#response = requests.request("GET", url, headers=headers, params=querystring)

#print(response.text)

In [4]:
#msft = yf.Ticker("MSFT")
#msft.info
#hist = msft.history(period="max")
#print(hist)

In [5]:
#data = pdr.get_data_yahoo("MSFT", start="2017-01-01", end="2022-01-31")
#data

In [6]:
# Read the raw data
path='Resources/key_stats_yahoo.csv'
df = pd.read_csv(path, index_col=False)

In [7]:
df

,Unnamed: 0,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,0,1/30/2004 19:01,a,33.8320,0.407,NaN,2.80,6.01,29.56,11.97,...,3.774,NaN,0.8,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474
1,1,4/13/2004 4:07,a,28.4626,0.375,NaN,2.43,4.98,25.56,6.20,...,3.391,NaN,0.8,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496
2,2,12/13/2004 21:37,a,21.8816,0.323,33.58,1.61,3.24,4.86,5.38,...,0.710,NaN,0.8,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547
3,3,1/22/2005 5:17,a,20.2478,0.322,30.70,1.52,3.04,4.86,5.38,...,0.710,NaN,18.6,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166
4,4,1/9/2006 2:35,a,31.7118,2.169,52.82,3.31,4.26,6.38,3.58,...,0.660,64.9,22.8,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,9127,11/1/2012 16:37,znga,2.2300,5.390,NaN,1.37,0.94,46.51,47.90,...,0.890,NaN,3.2,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,NaN
9128,9128,11/10/2012 0:28,znga,2.2300,5.390,NaN,1.32,0.91,46.51,47.90,...,0.890,NaN,3.2,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,NaN
9129,9129,2/16/2013 1:09,znga,3.1700,5.480,NaN,1.96,1.37,16.35,6.83,...,0.280,NaN,NaN,1.280000e+09,1.670,1.000000e+08,2.920,2.370,195770000.0,3.940
9130,9130,4/22/2013 2:07,znga,3.2300,5.480,NaN,1.95,1.36,16.35,6.59,...,0.280,NaN,NaN,1.280000e+09,1.640,1.000000e+08,2.920,2.340,195770000.0,3.790
9131,9131,5/10/2013 5:43,znga,3.2300,5.370,NaN,2.11,1.39,9.80,0.03,...,0.160,NaN,17.9,1.270000e+09,1.600,1.000000e+08,3.310,2.350,143400000.0,3.790

In [8]:
df = df.drop(columns=['Unnamed: 0'])

In [9]:
#Ticker Array
tickers = df['Ticker'].unique()
tickers

array(['a', 'aa', 'aapl', 'abbv', 'abc', 'abt', 'ace', 'aci', 'acn',
       'act', 'adbe', 'adi', 'adm', 'adp', 'adsk', 'adt', 'aee', 'aeo',
       'aep', 'aes', 'aet', 'afl', 'agn', 'aig', 'aiv', 'aiz', 'akam',
       'all', 'altr', 'alxn', 'amat', 'amd', 'amgn', 'amp', 'amt', 'amzn',
       'an', 'anf', 'ann', 'aon', 'apa', 'apc', 'apd', 'aph', 'apol',
       'arg', 'arna', 'aro', 'ati', 'atvi', 'avb', 'avp', 'avy', 'axp',
       'azo', 'ba', 'bac', 'bax', 'bbby', 'bbt', 'bby', 'bcr', 'bdx',
       'beam', 'ben', 'bhi', 'big', 'biib', 'bk', 'bks', 'blk', 'bll',
       'bms', 'bmy', 'brcm', 'bsx', 'btu', 'bwa', 'bxp', 'c', 'ca', 'cab',
       'cag', 'cah', 'cam', 'cat', 'cb', 'cbg', 'cbs', 'cce', 'cci',
       'ccl', 'celg', 'cern', 'cf', 'cfn', 'chk', 'chrw', 'ci', 'cim',
       'cinf', 'cl', 'clf', 'clx', 'cma', 'cmcsa', 'cme', 'cmg', 'cmi',
       'cms', 'cnp', 'cnx', 'cof', 'cog', 'coh', 'col', 'cop', 'cost',
       'cov', 'cpb', 'crm', 'csc', 'csco', 'csx', 'ctas', 'ctl', 'ctsh',
       'ctxs', 'cvc', 'cvs', 'cvx', 'd', 'dal', 'dd', 'dds', 'de', 'dell',
       'df', 'dfs', 'dg', 'dgx', 'dhi', 'dhr', 'dis', 'disca', 'dks',
       'dlph', 'dltr', 'dlx', 'dnb', 'dnr', 'do', 'dov', 'dow', 'dps',
       'dri', 'dsw', 'dte', 'dtv', 'duk', 'dva', 'dvn', 'ea', 'ebay',
       'ecl', 'ed', 'efx', 'eix', 'el', 'emc', 'emn', 'emr', 'eog', 'eqr',
       'eqt', 'esrx', 'esv', 'etfc', 'etn', 'etr', 'ew', 'exc', 'expd',
       'expe', 'expr', 'f', 'fast', 'fb', 'fcx', 'fdo', 'fdx', 'fe',
       'ffiv', 'fhn', 'fis', 'fisv', 'fitb', 'fl', 'flir', 'flr', 'fls',
       'flws', 'fmc', 'fosl', 'frx', 'fslr', 'fti', 'ftr', 'gas', 'gci',
       'gd', 'ge', 'ges', 'gild', 'gis', 'glw', 'gm', 'gmcr', 'gme',
       'gnw', 'goog', 'gpc', 'gps', 'grmn', 'grpn', 'gs', 'gt', 'gww',
       'hal', 'har', 'has', 'hban', 'hcbk', 'hcn', 'hcp', 'hd', 'hes',
       'hig', 'hog', 'hon', 'hot', 'hov', 'hp', 'hpq', 'hrb', 'hrl',
       'hrs', 'hsp', 'hst', 'hsy', 'hum', 'ibm', 'ice', 'iff', 'igt',
       'intc', 'intu', 'ip', 'ipg', 'ir', 'irm', 'isrg', 'itw', 'ivz',
       'jbl', 'jci', 'jcp', 'jdsu', 'jec', 'jnj', 'jnpr', 'joy', 'jpm',
       'jwn', 'k', 'key', 'kim', 'klac', 'kmb', 'kmi', 'kmx', 'ko', 'kr',
       'krft', 'kss', 'ksu', 'l', 'leg', 'len', 'lh', 'life', 'lll',
       'lltc', 'lly', 'lm', 'lmt', 'lnc', 'lo', 'low', 'lrcx', 'lsi',
       'luk', 'luv', 'lyb', 'm', 'ma', 'mac', 'mar', 'mas', 'mat', 'mcd',
       'mchp', 'mck', 'mco', 'mcp', 'mdlz', 'mdt', 'met', 'mgm', 'mhfi',
       'mjn', 'mkc', 'mmc', 'mmm', 'mnst', 'mo', 'mon', 'mos', 'mpc',
       'mrk', 'mro', 'ms', 'msft', 'msi', 'mtb', 'mu', 'mur', 'mwv',
       'myl', 'nbl', 'nbr', 'ndaq', 'ne', 'nee', 'nem', 'nflx', 'nfx',
       'ni', 'nile', 'nke', 'nly', 'noc', 'nov', 'nrg', 'nsc', 'ntap',
       'ntri', 'ntrs', 'nu', 'nue', 'nvda', 'nwl', 'nwsa', 'oi', 'oke',
       'omc', 'orcl', 'orly', 'oxy', 'p', 'payx', 'pbct', 'pbi', 'pcar',
       'pcg', 'pcl', 'pcln', 'pcp', 'pdco', 'peg', 'pep', 'petm', 'pets',
       'pfe', 'pfg', 'pg', 'pgr', 'ph', 'phm', 'pki', 'pld', 'pll', 'pm',
       'pnc', 'pnr', 'pnw', 'pom', 'ppg', 'ppl', 'prgo', 'pru', 'psa',
       'psx', 'pwr', 'px', 'pxd', 'qcom', 'qep', 'r', 'rai', 'rdc', 'rf',
       'rhi', 'rht', 'rl', 'rok', 'rop', 'rost', 'rrc', 'rsg', 'rsh',
       'rtn', 's', 'sbux', 'scg', 'schl', 'schw', 'sd', 'se', 'see',
       'sfly', 'shld', 'shw', 'sial', 'siri', 'sjm', 'slb', 'slm', 'sna',
       'sndk', 'sni', 'so', 'spg', 'spls', 'srcl', 'sre', 'sti', 'stj',
       'stt', 'stx', 'stz', 'swk', 'swn', 'swy', 'syk', 'symc', 'syy',
       't', 'tap', 'tdc', 'te', 'teg', 'tel', 'ter', 'tgt', 'thc', 'tibx',
       'tif', 'tjx', 'tmk', 'tmo', 'trip', 'trow', 'trv', 'tsla', 'tsn',
       'tso', 'tss', 'twc', 'twx', 'txn', 'txt', 'tyc', 'ua', 'unh',
       'unm', 'unp', 'ups', 'urbn', 'usb', 'utx', 'v', 'var', 'vfc',
       'viab', 'vitc', 'vlo', 'vmc', 'vno', 'vprt', 'vrsn', 'vtr', 'vz',
       'wag', 'wat', 'wdc', 'wec', 'wfc', 'wfm', 'whr', 'win', 'wlp',
       'wm', 'wmb', 'wmt', 'wtw', 'wu', 'wy', 'wyn', 'wynn', 'x', 'xel',
       'xl', 'xlnx', 'xom', 'xray', 'xrx', 'xyl', 'yhoo', 'yum', 'zion',
       'zlc', 'zmh', 'znga'], dtype=object)

In [10]:
#List of number columns
num_col = df.dtypes[df.dtypes == 'float64'].index.tolist()
num_col

['Price',
 'DE Ratio',
 'Trailing P/E',
 'Price/Sales',
 'Price/Book',
 'Profit Margin',
 'Operating Margin',
 'Return on Assets',
 'Return on Equity',
 'Revenue Per Share',
 'Market Cap',
 'Enterprise Value',
 'Forward P/E',
 'PEG Ratio',
 'Enterprise Value/Revenue',
 'Enterprise Value/EBITDA',
 'Revenue',
 'Gross Profit',
 'EBITDA',
 'Net Income Avl to Common ',
 'Diluted EPS',
 'Earnings Growth',
 'Revenue Growth',
 'Total Cash',
 'Total Cash Per Share',
 'Total Debt',
 'Current Ratio',
 'Book Value Per Share',
 'Cash Flow',
 'Beta']

In [11]:
# data types
df.dtypes

Date                          object
Ticker                        object
Price                        float64
DE Ratio                     float64
Trailing P/E                 float64
Price/Sales                  float64
Price/Book                   float64
Profit Margin                float64
Operating Margin             float64
Return on Assets             float64
Return on Equity             float64
Revenue Per Share            float64
Market Cap                   float64
Enterprise Value             float64
Forward P/E                  float64
PEG Ratio                    float64
Enterprise Value/Revenue     float64
Enterprise Value/EBITDA      float64
Revenue                      float64
Gross Profit                 float64
EBITDA                       float64
Net Income Avl to Common     float64
Diluted EPS                  float64
Earnings Growth              float64
Revenue Growth               float64
Total Cash                   float64
Total Cash Per Share         float64
Total Debt                   float64
Current Ratio                float64
Book Value Per Share         float64
Cash Flow                    float64
Beta                         float64
dtype: object

In [12]:
#Replace NaN with Mean
#ticker='a'
for ticker in tickers:
    m = df[df['Ticker'] == ticker][num_col].mean()
    mask = df[df['Ticker'] == ticker]
    mask[num_col] = mask[num_col].fillna(value = m)
    df[df['Ticker'] == ticker] = mask
df

C:\Users\levfl\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,Return on Assets,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,1/30/2004 19:01,a,33.8320,0.407,18.158125,2.80,6.01,29.56,11.97,24.95,...,3.774,114.269231,0.80,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474000
1,4/13/2004 4:07,a,28.4626,0.375,18.158125,2.43,4.98,25.56,6.20,23.59,...,3.391,114.269231,0.80,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496000
2,12/13/2004 21:37,a,21.8816,0.323,33.580000,1.61,3.24,4.86,5.38,5.26,...,0.710,114.269231,0.80,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547000
3,1/22/2005 5:17,a,20.2478,0.322,30.700000,1.52,3.04,4.86,5.38,5.26,...,0.710,114.269231,18.60,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166000
4,1/9/2006 2:35,a,31.7118,2.169,52.820000,3.31,4.26,6.38,3.58,1.68,...,0.660,64.900000,22.80,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,2.021353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,11/1/2012 16:37,znga,2.2300,5.390,128.105000,1.37,0.94,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9128,11/10/2012 0:28,znga,2.2300,5.390,128.105000,1.32,0.91,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9129,2/16/2013 1:09,znga,3.1700,5.480,128.105000,1.96,1.37,16.35,6.83,2.15,...,0.280,53.900000,49.36,1.280000e+09,1.670,1.000000e+08,2.920,2.370,195770000.0,3.940000
9130,4/22/2013 2:07,znga,3.2300,5.480,128.105000,1.95,1.36,16.35,6.59,2.07,...,0.280,53.900000,49.36,1.280000e+09,1.640,1.000000e+08,2.920,2.340,195770000.0,3.790000
9131,5/10/2013 5:43,znga,3.2300,5.370,128.105000,2.11,1.39,9.80,0.03,0.01,...,0.160,53.900000,17.90,1.270000e+09,1.600,1.000000e+08,3.310,2.350,143400000.0,3.790000

In [13]:
#Check remaining Nans
df.isnull().sum()

Date                           0
Ticker                         0
Price                         59
DE Ratio                     490
Trailing P/E                  38
Price/Sales                    0
Price/Book                    27
Profit Margin                  0
Operating Margin               0
Return on Assets               0
Return on Equity               7
Revenue Per Share              0
Market Cap                     0
Enterprise Value               0
Forward P/E                   49
PEG Ratio                     18
Enterprise Value/Revenue       0
Enterprise Value/EBITDA      571
Revenue                        0
Gross Profit                   0
EBITDA                       571
Net Income Avl to Common       0
Diluted EPS                    0
Earnings Growth               44
Revenue Growth                 1
Total Cash                     0
Total Cash Per Share           0
Total Debt                     0
Current Ratio                462
Book Value Per Share           0
Cash Flow                      0
Beta                           0
dtype: int64

In [14]:
#df[df['DE Ratio'].isnull()]

In [15]:
#drop remaining Nans
df.dropna(axis = 'rows', how='any',inplace=True)
df

,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,Return on Assets,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,1/30/2004 19:01,a,33.8320,0.407,18.158125,2.80,6.01,29.56,11.97,24.95,...,3.774,114.269231,0.80,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474000
1,4/13/2004 4:07,a,28.4626,0.375,18.158125,2.43,4.98,25.56,6.20,23.59,...,3.391,114.269231,0.80,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496000
2,12/13/2004 21:37,a,21.8816,0.323,33.580000,1.61,3.24,4.86,5.38,5.26,...,0.710,114.269231,0.80,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547000
3,1/22/2005 5:17,a,20.2478,0.322,30.700000,1.52,3.04,4.86,5.38,5.26,...,0.710,114.269231,18.60,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166000
4,1/9/2006 2:35,a,31.7118,2.169,52.820000,3.31,4.26,6.38,3.58,1.68,...,0.660,64.900000,22.80,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,2.021353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,11/1/2012 16:37,znga,2.2300,5.390,128.105000,1.37,0.94,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9128,11/10/2012 0:28,znga,2.2300,5.390,128.105000,1.32,0.91,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9129,2/16/2013 1:09,znga,3.1700,5.480,128.105000,1.96,1.37,16.35,6.83,2.15,...,0.280,53.900000,49.36,1.280000e+09,1.670,1.000000e+08,2.920,2.370,195770000.0,3.940000
9130,4/22/2013 2:07,znga,3.2300,5.480,128.105000,1.95,1.36,16.35,6.59,2.07,...,0.280,53.900000,49.36,1.280000e+09,1.640,1.000000e+08,2.920,2.340,195770000.0,3.790000
9131,5/10/2013 5:43,znga,3.2300,5.370,128.105000,2.11,1.39,9.80,0.03,0.01,...,0.160,53.900000,17.90,1.270000e+09,1.600,1.000000e+08,3.310,2.350,143400000.0,3.790000

In [16]:
df.isnull().sum()

Date                         0
Ticker                       0
Price                        0
DE Ratio                     0
Trailing P/E                 0
Price/Sales                  0
Price/Book                   0
Profit Margin                0
Operating Margin             0
Return on Assets             0
Return on Equity             0
Revenue Per Share            0
Market Cap                   0
Enterprise Value             0
Forward P/E                  0
PEG Ratio                    0
Enterprise Value/Revenue     0
Enterprise Value/EBITDA      0
Revenue                      0
Gross Profit                 0
EBITDA                       0
Net Income Avl to Common     0
Diluted EPS                  0
Earnings Growth              0
Revenue Growth               0
Total Cash                   0
Total Cash Per Share         0
Total Debt                   0
Current Ratio                0
Book Value Per Share         0
Cash Flow                    0
Beta                         0
dtype: int64

In [17]:
#export clean data
df.to_csv('Resources/clean_data.csv', index=False)

In [18]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder, MinMaxScaler
import pandas as pd
import tensorflow as tf
#turn off the warnings
import warnings
warnings.filterwarnings('ignore')

# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import mean_absolute_error
import sklearn
import matplotlib.pyplot as plt

In [84]:
#import clean data
cdf=pd.read_csv('Resources/clean_data.csv')
cdf

,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,Return on Assets,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,1/30/2004 19:01,a,33.8320,0.407,18.158125,2.80,6.01,29.56,11.97,24.95,...,3.774,114.269231,0.80,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474000
1,4/13/2004 4:07,a,28.4626,0.375,18.158125,2.43,4.98,25.56,6.20,23.59,...,3.391,114.269231,0.80,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496000
2,12/13/2004 21:37,a,21.8816,0.323,33.580000,1.61,3.24,4.86,5.38,5.26,...,0.710,114.269231,0.80,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547000
3,1/22/2005 5:17,a,20.2478,0.322,30.700000,1.52,3.04,4.86,5.38,5.26,...,0.710,114.269231,18.60,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166000
4,1/9/2006 2:35,a,31.7118,2.169,52.820000,3.31,4.26,6.38,3.58,1.68,...,0.660,64.900000,22.80,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,2.021353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8340,11/1/2012 16:37,znga,2.2300,5.390,128.105000,1.37,0.94,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
8341,11/10/2012 0:28,znga,2.2300,5.390,128.105000,1.32,0.91,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
8342,2/16/2013 1:09,znga,3.1700,5.480,128.105000,1.96,1.37,16.35,6.83,2.15,...,0.280,53.900000,49.36,1.280000e+09,1.670,1.000000e+08,2.920,2.370,195770000.0,3.940000
8343,4/22/2013 2:07,znga,3.2300,5.480,128.105000,1.95,1.36,16.35,6.59,2.07,...,0.280,53.900000,49.36,1.280000e+09,1.640,1.000000e+08,2.920,2.340,195770000.0,3.790000
8344,5/10/2013 5:43,znga,3.2300,5.370,128.105000,2.11,1.39,9.80,0.03,0.01,...,0.160,53.900000,17.90,1.270000e+09,1.600,1.000000e+08,3.310,2.350,143400000.0,3.790000

In [85]:
cdf = cdf.drop(columns = ['Date','Ticker','DE Ratio',
 #'Trailing P/E',
 'Price/Sales',
 'Price/Book',
 'Profit Margin',
 'Operating Margin',
 'Return on Assets',
 'Return on Equity',
 'Revenue Per Share',
 'Market Cap',
 'Enterprise Value',
 'Forward P/E',
 'PEG Ratio',
 'Enterprise Value/Revenue',
 'Enterprise Value/EBITDA',
 'Revenue',
 'Gross Profit',
 'EBITDA',
 'Net Income Avl to Common ',
 #'Diluted EPS',
 'Earnings Growth',
 'Revenue Growth',
 'Total Cash',
 'Total Cash Per Share',
 'Total Debt',
 'Current Ratio',
 'Book Value Per Share',
 'Cash Flow',
 'Beta'])

In [86]:
cdf.dtypes

Price           float64
Trailing P/E    float64
Diluted EPS     float64
dtype: object

In [87]:
# Split our preprocessed data into our features and target arrays
y = cdf["Price"].values
X = cdf.drop(["Price"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [88]:
# Create a StandardScaler instances
scaler = MinMaxScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_train_scaled

array([[0.01817727, 0.0114144 ],
       [0.02600092, 0.00037392],
       [0.02467734, 0.00683683],
       ...,
       [0.03376077, 0.00828528],
       [0.00203127, 0.01139472],
       [0.01619809, 0.0050184 ]])

In [89]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="linear"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="linear"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 80)                240

 dense_22 (Dense)            (None, 30)                2430

 dense_23 (Dense)            (None, 10)                310

 dense_24 (Dense)            (None, 1)                 11

=================================================================
Total params: 2,991
Trainable params: 2,991
Non-trainable params: 0
_________________________________________________________________

In [90]:
train_size = len(X_train_scaled)
train_size

6258

In [91]:
batch_size = 32
steps_per_epoch = train_size / batch_size
save_period = 5
save_freq = int(save_period * steps_per_epoch)

In [92]:
# Compile the model
nn.compile(loss="mean_absolute_error", optimizer="adam")

In [93]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, batch_size = batch_size)

Epoch 1/50
196/196 [==============================] - 1s 1ms/step - loss: 227167.0625
Epoch 2/50
196/196 [==============================] - 0s 1ms/step - loss: 227159.6875
Epoch 3/50
196/196 [==============================] - 0s 1ms/step - loss: 227159.7031
Epoch 4/50
196/196 [==============================] - 0s 1ms/step - loss: 227159.5156
Epoch 5/50
196/196 [==============================] - 0s 1ms/step - loss: 227159.4844
Epoch 6/50
196/196 [==============================] - 0s 1ms/step - loss: 227159.4219
Epoch 7/50
196/196 [==============================] - 0s 1ms/step - loss: 227159.4219
Epoch 8/50
196/196 [==============================] - 0s 1ms/step - loss: 227159.3438
Epoch 9/50
196/196 [==============================] - 0s 1ms/step - loss: 227159.1562
Epoch 10/50
196/196 [==============================] - 0s 1ms/step - loss: 227159.0938
Epoch 11/50
196/196 [==============================] - 0s 1ms/step - loss: 227158.9219
Epoch 12/50
196/196 [==============================] - 0s 1ms/step - loss: 227158.8125
Epoch 13/50
196/196 [==============================] - 0s 1ms/step - loss: 227158.5625
Epoch 14/50
196/196 [==============================] - 0s 2ms/step - loss: 227158.3906
Epoch 15/50
196/196 [==============================] - 1s 4ms/step - loss: 227158.0469
Epoch 16/50
196/196 [==============================] - 1s 3ms/step - loss: 227157.7812
Epoch 17/50
196/196 [==============================] - 1s 3ms/step - loss: 227157.5000
Epoch 18/50
196/196 [==============================] - 1s 3ms/step - loss: 227157.0625
Epoch 19/50
196/196 [==============================] - 1s 3ms/step - loss: 227156.4375
Epoch 20/50
196/196 [==============================] - 0s 2ms/step - loss: 227155.7656
Epoch 21/50
196/196 [==============================] - 0s 2ms/step - loss: 227154.9062
Epoch 22/50
196/196 [==============================] - 0s 2ms/step - loss: 227154.2812
Epoch 23/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.8906
Epoch 24/50
196/196 [==============================] - 0s 1ms/step - loss: 227153.8594
Epoch 25/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.7969
Epoch 26/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.5938
Epoch 27/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.7188
Epoch 28/50
196/196 [==============================] - 0s 1ms/step - loss: 227153.5312
Epoch 29/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.4219
Epoch 30/50
196/196 [==============================] - 1s 3ms/step - loss: 227153.3906
Epoch 31/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.4062
Epoch 32/50
196/196 [==============================] - 0s 1ms/step - loss: 227153.3281
Epoch 33/50
196/196 [==============================] - 0s 1ms/step - loss: 227153.3281
Epoch 34/50
196/196 [==============================] - 0s 1ms/step - loss: 227153.3281
Epoch 35/50
196/196 [==============================] - 0s 1ms/step - loss: 227153.2656
Epoch 36/50
196/196 [==============================] - 0s 1ms/step - loss: 227153.1875
Epoch 37/50
196/196 [==============================] - 0s 1ms/step - loss: 227153.2969
Epoch 38/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.2188
Epoch 39/50
196/196 [==============================] - 1s 3ms/step - loss: 227153.2969
Epoch 40/50
196/196 [==============================] - 1s 3ms/step - loss: 227153.0938
Epoch 41/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.2656
Epoch 42/50
196/196 [==============================] - 1s 4ms/step - loss: 227153.2500
Epoch 43/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.1562
Epoch 44/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.1875
Epoch 45/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.1562
Epoch 46/50
196/196 [==============================] - 0s 2ms/step - loss: 227153.1406
Epoch 47/50
196/196 [==============================] - 0s 1ms/step - loss: 227153.1250
Epoch 48/50
196/196 [==============================] - 1s 3ms/step - loss: 227153.1562
Epoch 49/50
196/196 [==============================] - 1s 3ms/step - loss: 227153.2188
Epoch 50/50
196/196 [==============================] - 1s 3ms/step - loss: 227153.1875

In [98]:
pred = X_test[:100] #.reshape(-1, 1)
pred = pred.reshape(-1,2)
pred.shape

(100, 2)

In [100]:
ee = nn.predict(pred)
print(f"Prediction: {ee}, Actual: {y_test[:100]}")

4/4 [==============================] - 0s 2ms/step
Prediction: [[ 17433.432 ]
 [  7197.7446]
 [ 11073.119 ]
 [  3759.4348]
 [  9886.701 ]
 [ 11010.348 ]
 [ 12237.4   ]
 [  4745.638 ]
 [ 11399.045 ]
 [ 10423.168 ]
 [  9415.67  ]
 [  7655.578 ]
 [ 18175.275 ]
 [ 49602.64  ]
 [ 28231.45  ]
 [ 10506.551 ]
 [  9073.641 ]
 [  8584.385 ]
 [ 11953.406 ]
 [ 14633.644 ]
 [ 14763.182 ]
 [ 10004.044 ]
 [ 10483.313 ]
 [ 10537.779 ]
 [ 15399.8955]
 [  5094.155 ]
 [  8378.624 ]
 [  8277.967 ]
 [  9071.487 ]
 [  5517.356 ]
 [ 10552.799 ]
 [ 10685.71  ]
 [ 16381.021 ]
 [ 17622.867 ]
 [  2086.607 ]
 [ 13352.435 ]
 [  6549.3203]
 [ 10737.462 ]
 [ 10095.588 ]
 [ 16003.976 ]
 [ 12177.124 ]
 [  7740.5493]
 [ 22077.05  ]
 [ 10898.537 ]
 [  9650.202 ]
 [ 10452.148 ]
 [ 10142.601 ]
 [ 10122.895 ]
 [  9398.881 ]
 [ 12816.842 ]
 [  9624.829 ]
 [  6841.686 ]
 [  8928.03  ]
 [  6427.5796]
 [  6801.551 ]
 [ 12403.563 ]
 [  2438.5825]
 [ 25173.797 ]
 [ 10273.702 ]
 [  9772.387 ]
 [ 12868.547 ]
 [  6661.6406]
 [  7995.7573]
 [  6864.831 ]
 [  8303.287 ]
 [ 10828.966 ]
 [  5921.6543]
 [ 16352.64  ]
 [ 13143.523 ]
 [ 26287.016 ]
 [ 10824.108 ]
 [  9411.712 ]
 [  2973.4824]
 [ 12190.302 ]
 [-48308.57  ]
 [  5759.4536]
 [  7716.8735]
 [  7677.221 ]
 [  4727.1597]
 [  9801.972 ]
 [ 11815.109 ]
 [  7664.9917]
 [  8406.651 ]
 [  7214.837 ]
 [  7289.302 ]
 [ 12534.067 ]
 [ 21788.146 ]
 [ 18027.186 ]
 [  8313.874 ]
 [  7030.009 ]
 [ 16306.748 ]
 [  9613.969 ]
 [ 12142.516 ]
 [ 19390.283 ]
 [  6737.189 ]
 [ 24230.57  ]
 [ 12527.071 ]
 [  8818.14  ]
 [ 10987.209 ]
 [ 13044.42  ]], Actual: [7.01990000e+01 1.94044000e+01 2.99004000e+01 5.78580000e+00
 2.46179000e+01 6.48600000e+01 1.48820000e+01 9.22470000e+00
 4.91600000e+01 6.03520000e+06 3.13831000e+01 1.93628000e+01
 3.66650000e+01 2.18000000e+01 3.81417000e+01 3.54167000e+01
 2.30639000e+01 1.68814000e+01 5.60400000e+01 5.22030000e+01
 6.11422000e+01 1.79657000e+01 3.34251000e+01 2.48171000e+01
 2.97878000e+01 1.27200000e+01 1.56422000e+01 2.34372000e+01
 2.84496000e+01 1.37700000e+01 4.21839000e+01 3.97618733e+01
 4.42898000e+01 7.24466000e+01 5.33000000e+00 5.72203000e+01
 1.13962000e+01 1.72129000e+01 3.63395000e+01 4.89592000e+01
 5.02000000e+01 2.33265000e+01 6.33433000e+01 4.32647000e+01
 3.17002000e+01 3.84134000e+01 3.00065000e+01 9.27462000e+01
 2.71556000e+01 4.80778000e+01 2.34853000e+01 2.94706000e+01
 2.05322000e+01 5.74808000e+01 4.62055556e+01 4.19739000e+01
 5.58000000e+00 4.66503000e+01 3.27344000e+01 3.44771000e+01
 4.57438000e+01 1.70400000e+01 1.37193000e+01 4.19000000e+00
 2.75369244e+01 3.29558000e+01 1.53900000e+01 7.20153000e+01
 4.40756000e+01 2.04405300e+02 4.93550000e+01 7.24740000e+06
 1.04400000e+01 4.53528000e+01 2.50339000e+01 1.30257000e+01
 2.00120000e+01 1.43700000e+01 9.22390000e+00 2.97636000e+01
 2.35870000e+01 2.12886000e+01 2.37308000e+01 1.84334000e+01
 2.62215000e+01 4.44809000e+01 1.60980000e+02 6.21958000e+01
 1.75147000e+01 1.92672000e+07 6.62769000e+01 3.26145000e+01
 4.38852000e+01 9.95368000e+01 9.88900000e+05 2.73246000e+01
 4.87586000e+01 2.53285000e+01 3.33769000e+01 4.65994000e+01]

In [97]:
# Evaluate the model using the test data
model_loss = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}")

66/66 - 0s - loss: 217136.1719 - 150ms/epoch - 2ms/step
Loss: 217136.171875