In [1]:
import pandas as pd
import numpy as np
import json
import requests
#from config import api_key
import yfinance as yf

#from pandas_datareader import data as pdr
yf.pdr_override()

In [2]:
#endpoint = "/v8/finance/spark"
#url = "https://yfapi.net" + endpoint

In [3]:
#querystring = {"symbols":"AAPL,BTC-USD,EURUSD=X"}

#headers = {
#    'x-api-key': api_key
#    }

#response = requests.request("GET", url, headers=headers, params=querystring)

#print(response.text)

In [4]:
#msft = yf.Ticker("MSFT")
#msft.info
#hist = msft.history(period="max")
#print(hist)

In [5]:
#data = pdr.get_data_yahoo("MSFT", start="2017-01-01", end="2022-01-31")
#data

In [6]:
# Read the raw data
path='Resources/key_stats_yahoo.csv'
df = pd.read_csv(path, index_col=False)

In [7]:
df

,Unnamed: 0,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,0,1/30/2004 19:01,a,33.8320,0.407,NaN,2.80,6.01,29.56,11.97,...,3.774,NaN,0.8,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474
1,1,4/13/2004 4:07,a,28.4626,0.375,NaN,2.43,4.98,25.56,6.20,...,3.391,NaN,0.8,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496
2,2,12/13/2004 21:37,a,21.8816,0.323,33.58,1.61,3.24,4.86,5.38,...,0.710,NaN,0.8,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547
3,3,1/22/2005 5:17,a,20.2478,0.322,30.70,1.52,3.04,4.86,5.38,...,0.710,NaN,18.6,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166
4,4,1/9/2006 2:35,a,31.7118,2.169,52.82,3.31,4.26,6.38,3.58,...,0.660,64.9,22.8,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,9127,11/1/2012 16:37,znga,2.2300,5.390,NaN,1.37,0.94,46.51,47.90,...,0.890,NaN,3.2,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,NaN
9128,9128,11/10/2012 0:28,znga,2.2300,5.390,NaN,1.32,0.91,46.51,47.90,...,0.890,NaN,3.2,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,NaN
9129,9129,2/16/2013 1:09,znga,3.1700,5.480,NaN,1.96,1.37,16.35,6.83,...,0.280,NaN,NaN,1.280000e+09,1.670,1.000000e+08,2.920,2.370,195770000.0,3.940
9130,9130,4/22/2013 2:07,znga,3.2300,5.480,NaN,1.95,1.36,16.35,6.59,...,0.280,NaN,NaN,1.280000e+09,1.640,1.000000e+08,2.920,2.340,195770000.0,3.790
9131,9131,5/10/2013 5:43,znga,3.2300,5.370,NaN,2.11,1.39,9.80,0.03,...,0.160,NaN,17.9,1.270000e+09,1.600,1.000000e+08,3.310,2.350,143400000.0,3.790

In [8]:
df = df.drop(columns=['Unnamed: 0'])

In [9]:
#Ticker Array
tickers = df['Ticker'].unique()
tickers

array(['a', 'aa', 'aapl', 'abbv', 'abc', 'abt', 'ace', 'aci', 'acn',
       'act', 'adbe', 'adi', 'adm', 'adp', 'adsk', 'adt', 'aee', 'aeo',
       'aep', 'aes', 'aet', 'afl', 'agn', 'aig', 'aiv', 'aiz', 'akam',
       'all', 'altr', 'alxn', 'amat', 'amd', 'amgn', 'amp', 'amt', 'amzn',
       'an', 'anf', 'ann', 'aon', 'apa', 'apc', 'apd', 'aph', 'apol',
       'arg', 'arna', 'aro', 'ati', 'atvi', 'avb', 'avp', 'avy', 'axp',
       'azo', 'ba', 'bac', 'bax', 'bbby', 'bbt', 'bby', 'bcr', 'bdx',
       'beam', 'ben', 'bhi', 'big', 'biib', 'bk', 'bks', 'blk', 'bll',
       'bms', 'bmy', 'brcm', 'bsx', 'btu', 'bwa', 'bxp', 'c', 'ca', 'cab',
       'cag', 'cah', 'cam', 'cat', 'cb', 'cbg', 'cbs', 'cce', 'cci',
       'ccl', 'celg', 'cern', 'cf', 'cfn', 'chk', 'chrw', 'ci', 'cim',
       'cinf', 'cl', 'clf', 'clx', 'cma', 'cmcsa', 'cme', 'cmg', 'cmi',
       'cms', 'cnp', 'cnx', 'cof', 'cog', 'coh', 'col', 'cop', 'cost',
       'cov', 'cpb', 'crm', 'csc', 'csco', 'csx', 'ctas', 'ctl', 'ctsh',
       'ctxs', 'cvc', 'cvs', 'cvx', 'd', 'dal', 'dd', 'dds', 'de', 'dell',
       'df', 'dfs', 'dg', 'dgx', 'dhi', 'dhr', 'dis', 'disca', 'dks',
       'dlph', 'dltr', 'dlx', 'dnb', 'dnr', 'do', 'dov', 'dow', 'dps',
       'dri', 'dsw', 'dte', 'dtv', 'duk', 'dva', 'dvn', 'ea', 'ebay',
       'ecl', 'ed', 'efx', 'eix', 'el', 'emc', 'emn', 'emr', 'eog', 'eqr',
       'eqt', 'esrx', 'esv', 'etfc', 'etn', 'etr', 'ew', 'exc', 'expd',
       'expe', 'expr', 'f', 'fast', 'fb', 'fcx', 'fdo', 'fdx', 'fe',
       'ffiv', 'fhn', 'fis', 'fisv', 'fitb', 'fl', 'flir', 'flr', 'fls',
       'flws', 'fmc', 'fosl', 'frx', 'fslr', 'fti', 'ftr', 'gas', 'gci',
       'gd', 'ge', 'ges', 'gild', 'gis', 'glw', 'gm', 'gmcr', 'gme',
       'gnw', 'goog', 'gpc', 'gps', 'grmn', 'grpn', 'gs', 'gt', 'gww',
       'hal', 'har', 'has', 'hban', 'hcbk', 'hcn', 'hcp', 'hd', 'hes',
       'hig', 'hog', 'hon', 'hot', 'hov', 'hp', 'hpq', 'hrb', 'hrl',
       'hrs', 'hsp', 'hst', 'hsy', 'hum', 'ibm', 'ice', 'iff', 'igt',
       'intc', 'intu', 'ip', 'ipg', 'ir', 'irm', 'isrg', 'itw', 'ivz',
       'jbl', 'jci', 'jcp', 'jdsu', 'jec', 'jnj', 'jnpr', 'joy', 'jpm',
       'jwn', 'k', 'key', 'kim', 'klac', 'kmb', 'kmi', 'kmx', 'ko', 'kr',
       'krft', 'kss', 'ksu', 'l', 'leg', 'len', 'lh', 'life', 'lll',
       'lltc', 'lly', 'lm', 'lmt', 'lnc', 'lo', 'low', 'lrcx', 'lsi',
       'luk', 'luv', 'lyb', 'm', 'ma', 'mac', 'mar', 'mas', 'mat', 'mcd',
       'mchp', 'mck', 'mco', 'mcp', 'mdlz', 'mdt', 'met', 'mgm', 'mhfi',
       'mjn', 'mkc', 'mmc', 'mmm', 'mnst', 'mo', 'mon', 'mos', 'mpc',
       'mrk', 'mro', 'ms', 'msft', 'msi', 'mtb', 'mu', 'mur', 'mwv',
       'myl', 'nbl', 'nbr', 'ndaq', 'ne', 'nee', 'nem', 'nflx', 'nfx',
       'ni', 'nile', 'nke', 'nly', 'noc', 'nov', 'nrg', 'nsc', 'ntap',
       'ntri', 'ntrs', 'nu', 'nue', 'nvda', 'nwl', 'nwsa', 'oi', 'oke',
       'omc', 'orcl', 'orly', 'oxy', 'p', 'payx', 'pbct', 'pbi', 'pcar',
       'pcg', 'pcl', 'pcln', 'pcp', 'pdco', 'peg', 'pep', 'petm', 'pets',
       'pfe', 'pfg', 'pg', 'pgr', 'ph', 'phm', 'pki', 'pld', 'pll', 'pm',
       'pnc', 'pnr', 'pnw', 'pom', 'ppg', 'ppl', 'prgo', 'pru', 'psa',
       'psx', 'pwr', 'px', 'pxd', 'qcom', 'qep', 'r', 'rai', 'rdc', 'rf',
       'rhi', 'rht', 'rl', 'rok', 'rop', 'rost', 'rrc', 'rsg', 'rsh',
       'rtn', 's', 'sbux', 'scg', 'schl', 'schw', 'sd', 'se', 'see',
       'sfly', 'shld', 'shw', 'sial', 'siri', 'sjm', 'slb', 'slm', 'sna',
       'sndk', 'sni', 'so', 'spg', 'spls', 'srcl', 'sre', 'sti', 'stj',
       'stt', 'stx', 'stz', 'swk', 'swn', 'swy', 'syk', 'symc', 'syy',
       't', 'tap', 'tdc', 'te', 'teg', 'tel', 'ter', 'tgt', 'thc', 'tibx',
       'tif', 'tjx', 'tmk', 'tmo', 'trip', 'trow', 'trv', 'tsla', 'tsn',
       'tso', 'tss', 'twc', 'twx', 'txn', 'txt', 'tyc', 'ua', 'unh',
       'unm', 'unp', 'ups', 'urbn', 'usb', 'utx', 'v', 'var', 'vfc',
       'viab', 'vitc', 'vlo', 'vmc', 'vno', 'vprt', 'vrsn', 'vtr', 'vz',
       'wag', 'wat', 'wdc', 'wec', 'wfc', 'wfm', 'whr', 'win', 'wlp',
       'wm', 'wmb', 'wmt', 'wtw', 'wu', 'wy', 'wyn', 'wynn', 'x', 'xel',
       'xl', 'xlnx', 'xom', 'xray', 'xrx', 'xyl', 'yhoo', 'yum', 'zion',
       'zlc', 'zmh', 'znga'], dtype=object)

In [10]:
#List of number columns
num_col = df.dtypes[df.dtypes == 'float64'].index.tolist()
num_col

['Price',
 'DE Ratio',
 'Trailing P/E',
 'Price/Sales',
 'Price/Book',
 'Profit Margin',
 'Operating Margin',
 'Return on Assets',
 'Return on Equity',
 'Revenue Per Share',
 'Market Cap',
 'Enterprise Value',
 'Forward P/E',
 'PEG Ratio',
 'Enterprise Value/Revenue',
 'Enterprise Value/EBITDA',
 'Revenue',
 'Gross Profit',
 'EBITDA',
 'Net Income Avl to Common ',
 'Diluted EPS',
 'Earnings Growth',
 'Revenue Growth',
 'Total Cash',
 'Total Cash Per Share',
 'Total Debt',
 'Current Ratio',
 'Book Value Per Share',
 'Cash Flow',
 'Beta']

In [11]:
# data types
df.dtypes

Date                          object
Ticker                        object
Price                        float64
DE Ratio                     float64
Trailing P/E                 float64
Price/Sales                  float64
Price/Book                   float64
Profit Margin                float64
Operating Margin             float64
Return on Assets             float64
Return on Equity             float64
Revenue Per Share            float64
Market Cap                   float64
Enterprise Value             float64
Forward P/E                  float64
PEG Ratio                    float64
Enterprise Value/Revenue     float64
Enterprise Value/EBITDA      float64
Revenue                      float64
Gross Profit                 float64
EBITDA                       float64
Net Income Avl to Common     float64
Diluted EPS                  float64
Earnings Growth              float64
Revenue Growth               float64
Total Cash                   float64
Total Cash Per Share         float64
Total Debt                   float64
Current Ratio                float64
Book Value Per Share         float64
Cash Flow                    float64
Beta                         float64
dtype: object

In [12]:
#Replace NaN with Mean
#ticker='a'
for ticker in tickers:
    m = df[df['Ticker'] == ticker][num_col].mean()
    mask = df[df['Ticker'] == ticker]
    mask[num_col] = mask[num_col].fillna(value = m)
    df[df['Ticker'] == ticker] = mask
df

C:\Users\levfl\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,Return on Assets,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,1/30/2004 19:01,a,33.8320,0.407,18.158125,2.80,6.01,29.56,11.97,24.95,...,3.774,114.269231,0.80,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474000
1,4/13/2004 4:07,a,28.4626,0.375,18.158125,2.43,4.98,25.56,6.20,23.59,...,3.391,114.269231,0.80,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496000
2,12/13/2004 21:37,a,21.8816,0.323,33.580000,1.61,3.24,4.86,5.38,5.26,...,0.710,114.269231,0.80,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547000
3,1/22/2005 5:17,a,20.2478,0.322,30.700000,1.52,3.04,4.86,5.38,5.26,...,0.710,114.269231,18.60,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166000
4,1/9/2006 2:35,a,31.7118,2.169,52.820000,3.31,4.26,6.38,3.58,1.68,...,0.660,64.900000,22.80,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,2.021353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,11/1/2012 16:37,znga,2.2300,5.390,128.105000,1.37,0.94,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9128,11/10/2012 0:28,znga,2.2300,5.390,128.105000,1.32,0.91,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9129,2/16/2013 1:09,znga,3.1700,5.480,128.105000,1.96,1.37,16.35,6.83,2.15,...,0.280,53.900000,49.36,1.280000e+09,1.670,1.000000e+08,2.920,2.370,195770000.0,3.940000
9130,4/22/2013 2:07,znga,3.2300,5.480,128.105000,1.95,1.36,16.35,6.59,2.07,...,0.280,53.900000,49.36,1.280000e+09,1.640,1.000000e+08,2.920,2.340,195770000.0,3.790000
9131,5/10/2013 5:43,znga,3.2300,5.370,128.105000,2.11,1.39,9.80,0.03,0.01,...,0.160,53.900000,17.90,1.270000e+09,1.600,1.000000e+08,3.310,2.350,143400000.0,3.790000

In [13]:
#Check remaining Nans
df.isnull().sum()

Date                           0
Ticker                         0
Price                         59
DE Ratio                     490
Trailing P/E                  38
Price/Sales                    0
Price/Book                    27
Profit Margin                  0
Operating Margin               0
Return on Assets               0
Return on Equity               7
Revenue Per Share              0
Market Cap                     0
Enterprise Value               0
Forward P/E                   49
PEG Ratio                     18
Enterprise Value/Revenue       0
Enterprise Value/EBITDA      571
Revenue                        0
Gross Profit                   0
EBITDA                       571
Net Income Avl to Common       0
Diluted EPS                    0
Earnings Growth               44
Revenue Growth                 1
Total Cash                     0
Total Cash Per Share           0
Total Debt                     0
Current Ratio                462
Book Value Per Share           0
Cash Flow                      0
Beta                           0
dtype: int64

In [14]:
#df[df['DE Ratio'].isnull()]

In [15]:
#drop remaining Nans
df.dropna(axis = 'rows', how='any',inplace=True)
df

,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,Return on Assets,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,1/30/2004 19:01,a,33.8320,0.407,18.158125,2.80,6.01,29.56,11.97,24.95,...,3.774,114.269231,0.80,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474000
1,4/13/2004 4:07,a,28.4626,0.375,18.158125,2.43,4.98,25.56,6.20,23.59,...,3.391,114.269231,0.80,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496000
2,12/13/2004 21:37,a,21.8816,0.323,33.580000,1.61,3.24,4.86,5.38,5.26,...,0.710,114.269231,0.80,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547000
3,1/22/2005 5:17,a,20.2478,0.322,30.700000,1.52,3.04,4.86,5.38,5.26,...,0.710,114.269231,18.60,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166000
4,1/9/2006 2:35,a,31.7118,2.169,52.820000,3.31,4.26,6.38,3.58,1.68,...,0.660,64.900000,22.80,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,2.021353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9127,11/1/2012 16:37,znga,2.2300,5.390,128.105000,1.37,0.94,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9128,11/10/2012 0:28,znga,2.2300,5.390,128.105000,1.32,0.91,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
9129,2/16/2013 1:09,znga,3.1700,5.480,128.105000,1.96,1.37,16.35,6.83,2.15,...,0.280,53.900000,49.36,1.280000e+09,1.670,1.000000e+08,2.920,2.370,195770000.0,3.940000
9130,4/22/2013 2:07,znga,3.2300,5.480,128.105000,1.95,1.36,16.35,6.59,2.07,...,0.280,53.900000,49.36,1.280000e+09,1.640,1.000000e+08,2.920,2.340,195770000.0,3.790000
9131,5/10/2013 5:43,znga,3.2300,5.370,128.105000,2.11,1.39,9.80,0.03,0.01,...,0.160,53.900000,17.90,1.270000e+09,1.600,1.000000e+08,3.310,2.350,143400000.0,3.790000

In [16]:
df.isnull().sum()

Date                         0
Ticker                       0
Price                        0
DE Ratio                     0
Trailing P/E                 0
Price/Sales                  0
Price/Book                   0
Profit Margin                0
Operating Margin             0
Return on Assets             0
Return on Equity             0
Revenue Per Share            0
Market Cap                   0
Enterprise Value             0
Forward P/E                  0
PEG Ratio                    0
Enterprise Value/Revenue     0
Enterprise Value/EBITDA      0
Revenue                      0
Gross Profit                 0
EBITDA                       0
Net Income Avl to Common     0
Diluted EPS                  0
Earnings Growth              0
Revenue Growth               0
Total Cash                   0
Total Cash Per Share         0
Total Debt                   0
Current Ratio                0
Book Value Per Share         0
Cash Flow                    0
Beta                         0
dtype: int64

In [17]:
#export clean data
df.to_csv('Resources/clean_data.csv', index=False)

In [18]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder, MinMaxScaler
import pandas as pd
import tensorflow as tf
#turn off the warnings
import warnings
warnings.filterwarnings('ignore')

# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import mean_absolute_error
import sklearn
import matplotlib.pyplot as plt

In [19]:
#import clean data
cdf=pd.read_csv('Resources/clean_data.csv')
cdf

,Date,Ticker,Price,DE Ratio,Trailing P/E,Price/Sales,Price/Book,Profit Margin,Operating Margin,Return on Assets,...,Diluted EPS,Earnings Growth,Revenue Growth,Total Cash,Total Cash Per Share,Total Debt,Current Ratio,Book Value Per Share,Cash Flow,Beta
0,1/30/2004 19:01,a,33.8320,0.407,18.158125,2.80,6.01,29.56,11.97,24.95,...,3.774,114.269231,0.80,1.610000e+09,3.370,1.150000e+09,2.040,5.930,144000000.0,2.474000
1,4/13/2004 4:07,a,28.4626,0.375,18.158125,2.43,4.98,25.56,6.20,23.59,...,3.391,114.269231,0.80,1.680000e+09,3.490,1.150000e+09,2.284,6.394,144000000.0,2.496000
2,12/13/2004 21:37,a,21.8816,0.323,33.580000,1.61,3.24,4.86,5.38,5.26,...,0.710,114.269231,0.80,2.320000e+09,4.750,1.150000e+09,2.441,7.320,483000000.0,2.547000
3,1/22/2005 5:17,a,20.2478,0.322,30.700000,1.52,3.04,4.86,5.38,5.26,...,0.710,114.269231,18.60,2.320000e+09,4.710,1.150000e+09,2.446,7.329,663000000.0,2.166000
4,1/9/2006 2:35,a,31.7118,2.169,52.820000,3.31,4.26,6.38,3.58,1.68,...,0.660,64.900000,22.80,2.250000e+09,4.555,2.169000e+00,2.169,8.095,890000000.0,2.021353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8340,11/1/2012 16:37,znga,2.2300,5.390,128.105000,1.37,0.94,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
8341,11/10/2012 0:28,znga,2.2300,5.390,128.105000,1.32,0.91,46.51,47.90,18.64,...,0.890,53.900000,3.20,1.320000e+09,1.690,1.000000e+08,2.680,2.380,339950000.0,3.840000
8342,2/16/2013 1:09,znga,3.1700,5.480,128.105000,1.96,1.37,16.35,6.83,2.15,...,0.280,53.900000,49.36,1.280000e+09,1.670,1.000000e+08,2.920,2.370,195770000.0,3.940000
8343,4/22/2013 2:07,znga,3.2300,5.480,128.105000,1.95,1.36,16.35,6.59,2.07,...,0.280,53.900000,49.36,1.280000e+09,1.640,1.000000e+08,2.920,2.340,195770000.0,3.790000
8344,5/10/2013 5:43,znga,3.2300,5.370,128.105000,2.11,1.39,9.80,0.03,0.01,...,0.160,53.900000,17.90,1.270000e+09,1.600,1.000000e+08,3.310,2.350,143400000.0,3.790000

In [20]:
cdf = cdf.drop(columns = ['Date','Ticker','DE Ratio',
 #'Trailing P/E',
 'Price/Sales',
 'Price/Book',
 'Profit Margin',
 'Operating Margin',
 'Return on Assets',
 'Return on Equity',
 'Revenue Per Share',
 'Market Cap',
 'Enterprise Value',
 'Forward P/E',
 'PEG Ratio',
 'Enterprise Value/Revenue',
 'Enterprise Value/EBITDA',
 'Revenue',
 'Gross Profit',
 'EBITDA',
 'Net Income Avl to Common ',
 #'Diluted EPS',
 'Earnings Growth',
 'Revenue Growth',
 'Total Cash',
 'Total Cash Per Share',
 'Total Debt',
 'Current Ratio',
 'Book Value Per Share',
 'Cash Flow',
 'Beta'])

In [21]:
cdf.dtypes

Price           float64
Trailing P/E    float64
Diluted EPS     float64
dtype: object

In [22]:
cdf.describe()

              Price  Trailing P/E  Diluted EPS
count  8.345000e+03   8345.000000  8345.000000
mean   2.246744e+05     29.190484     3.308050
std    2.060423e+06     53.055592    11.551713
min    1.278000e-01      0.000000     0.000000
25%    2.053220e+01     13.560000     1.220000
50%    3.270970e+01     18.750000     2.204000
75%    5.170040e+01     26.840000     3.750000
max    7.639660e+07    968.670000   508.130000

In [23]:
#Remove outliers
from scipy import stats
cdf = cdf[np.abs(cdf.Price-cdf.Price.mean()) <= (1*cdf.Price.std())]
#cdf[(np.abs(stats.zscore(cdf)) < 3).all(axis=0)]
#cdf[(np.abs(stats.zscore(cdf[0])) < 3)]
cdf.describe()

              Price  Trailing P/E  Diluted EPS
count  8.161000e+03   8161.000000  8161.000000
mean   1.722087e+04     29.378433     3.336163
std    1.550795e+05     53.598318    11.677397
min    1.278000e-01      0.000000     0.000000
25%    2.024160e+01     13.580000     1.230000
50%    3.215950e+01     18.780000     2.230000
75%    4.983610e+01     26.880000     3.777000
max    2.182400e+06    968.670000   508.130000

In [24]:
# Split our preprocessed data into our features and target arrays
y = cdf["Price"].values
X = cdf.drop(["Price"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [25]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_train_scaled

array([[-0.04366111, -0.27360118],
       [-0.31771609, -0.10187529],
       [-0.02144549, -0.1770906 ],
       ...,
       [-0.13607066, -0.20646339],
       [-0.25461624, -0.0721878 ],
       [ 0.32205667, -0.27465021]])

In [26]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="selu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="selu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="selu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                240

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 2,991
Trainable params: 2,991
Non-trainable params: 0
_________________________________________________________________

In [27]:
train_size = len(X_train_scaled)
train_size

6120

In [28]:
batch_size = 32
steps_per_epoch = train_size / batch_size
save_period = 5
save_freq = int(save_period * steps_per_epoch)

In [29]:
# Compile the model
nn.compile(loss="mean_absolute_error", optimizer="adam")

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, batch_size = batch_size)

Epoch 1/50
192/192 [==============================] - 1s 1ms/step - loss: 16171.0107
Epoch 2/50
192/192 [==============================] - 0s 2ms/step - loss: 16162.0430
Epoch 3/50
192/192 [==============================] - 0s 2ms/step - loss: 16160.6768
Epoch 4/50
192/192 [==============================] - 0s 1ms/step - loss: 16160.0244
Epoch 5/50
192/192 [==============================] - 0s 2ms/step - loss: 16159.3350
Epoch 6/50
192/192 [==============================] - 0s 2ms/step - loss: 16158.9893
Epoch 7/50
192/192 [==============================] - 0s 1ms/step - loss: 16158.8301
Epoch 8/50
192/192 [==============================] - 0s 1ms/step - loss: 16158.6406
Epoch 9/50
192/192 [==============================] - 0s 2ms/step - loss: 16158.5781
Epoch 10/50
192/192 [==============================] - 1s 3ms/step - loss: 16158.5342
Epoch 11/50
192/192 [==============================] - 1s 4ms/step - loss: 16158.4893
Epoch 12/50
192/192 [==============================] - 1s 3ms/step - loss: 16158.4004
Epoch 13/50
192/192 [==============================] - 1s 3ms/step - loss: 16158.3135
Epoch 14/50
192/192 [==============================] - 1s 3ms/step - loss: 16158.3545
Epoch 15/50
192/192 [==============================] - 1s 3ms/step - loss: 16158.2910
Epoch 16/50
192/192 [==============================] - 1s 3ms/step - loss: 16158.2285
Epoch 17/50
192/192 [==============================] - 0s 2ms/step - loss: 16158.2119
Epoch 18/50
192/192 [==============================] - 0s 2ms/step - loss: 16158.1982
Epoch 19/50
192/192 [==============================] - 0s 2ms/step - loss: 16158.2012
Epoch 20/50
192/192 [==============================] - 1s 4ms/step - loss: 16158.2080
Epoch 21/50
192/192 [==============================] - 1s 3ms/step - loss: 16158.1240
Epoch 22/50
192/192 [==============================] - 1s 3ms/step - loss: 16158.1436
Epoch 23/50
192/192 [==============================] - 1s 3ms/step - loss: 16158.1094
Epoch 24/50
192/192 [==============================] - 1s 3ms/step - loss: 16158.1016
Epoch 25/50
192/192 [==============================] - 0s 2ms/step - loss: 16158.0537
Epoch 26/50
192/192 [==============================] - 0s 2ms/step - loss: 16158.0605
Epoch 27/50
192/192 [==============================] - 0s 2ms/step - loss: 16158.0225
Epoch 28/50
192/192 [==============================] - 0s 2ms/step - loss: 16158.0508
Epoch 29/50
192/192 [==============================] - 0s 1ms/step - loss: 16158.0195
Epoch 30/50
192/192 [==============================] - 0s 2ms/step - loss: 16158.0625
Epoch 31/50
192/192 [==============================] - 0s 2ms/step - loss: 16158.0078
Epoch 32/50
192/192 [==============================] - 1s 3ms/step - loss: 16157.9717
Epoch 33/50
192/192 [==============================] - 1s 3ms/step - loss: 16158.0391
Epoch 34/50
192/192 [==============================] - 1s 3ms/step - loss: 16157.9385
Epoch 35/50
192/192 [==============================] - 1s 3ms/step - loss: 16157.9492
Epoch 36/50
192/192 [==============================] - 1s 3ms/step - loss: 16157.9473
Epoch 37/50
192/192 [==============================] - 1s 3ms/step - loss: 16157.9551
Epoch 38/50
192/192 [==============================] - 1s 3ms/step - loss: 16157.9727
Epoch 39/50
192/192 [==============================] - 1s 3ms/step - loss: 16157.9453
Epoch 40/50
192/192 [==============================] - 0s 2ms/step - loss: 16157.9307
Epoch 41/50
192/192 [==============================] - 0s 1ms/step - loss: 16157.9004
Epoch 42/50
192/192 [==============================] - 0s 2ms/step - loss: 16157.9580
Epoch 43/50
192/192 [==============================] - 0s 1ms/step - loss: 16157.9277
Epoch 44/50
192/192 [==============================] - 0s 1ms/step - loss: 16157.9297
Epoch 45/50
192/192 [==============================] - 0s 2ms/step - loss: 16157.9004
Epoch 46/50
192/192 [==============================] - 0s 2ms/step - loss: 16157.8945
Epoch 47/50
192/192 [==============================] - 1s 4ms/step - loss: 16157.9570
Epoch 48/50
192/192 [==============================] - 1s 3ms/step - loss: 16157.9238
Epoch 49/50
192/192 [==============================] - 1s 3ms/step - loss: 16157.8926
Epoch 50/50
192/192 [==============================] - 1s 3ms/step - loss: 16157.9688

In [31]:
pred = X_test[:100]#.reshape(-1, 1)
pred = pred.reshape(-1,2)
pred.shape

(100, 2)

In [32]:
ee = nn.predict(pred)
for rr in range(len(pred)):
    print(f"Prediction: {ee[rr]}, Actual: {y_test[:100][rr]}")

4/4 [==============================] - 0s 2ms/step
Prediction: [78.39164], Actual: 74.2024
Prediction: [70.52508], Actual: 25.6259
Prediction: [33.86892], Actual: 17.0979
Prediction: [111.9954], Actual: 103.1731
Prediction: [66.025154], Actual: 46.6745
Prediction: [48.609444], Actual: 10.3448
Prediction: [49.237747], Actual: 35.6009
Prediction: [47.025883], Actual: 75.8687
Prediction: [51.918335], Actual: 16.7333
Prediction: [-30.72042], Actual: 48.97
Prediction: [48.405525], Actual: 18.6562
Prediction: [54.93878], Actual: 55.33463333333333
Prediction: [58.88489], Actual: 13.6191
Prediction: [196.55177], Actual: 40.5864
Prediction: [56.256855], Actual: 26.1322
Prediction: [10.260239], Actual: 129.0
Prediction: [65.84921], Actual: 14.73
Prediction: [47.60553], Actual: 32.7344
Prediction: [31.0915], Actual: 14.7955
Prediction: [73.80788], Actual: 40.2379
Prediction: [34.018036], Actual: 86.6913
Prediction: [26.567476], Actual: 14.11
Prediction: [60.341812], Actual: 25.3285
Prediction: [148.62387], Actual: 6.8531
Prediction: [26.617462], Actual: 37.48
Prediction: [23.166254], Actual: 7.4259
Prediction: [61.30506], Actual: 403500.0
Prediction: [138.90956], Actual: 22.6968
Prediction: [60.700012], Actual: 81.9569
Prediction: [82.14384], Actual: 48.9261
Prediction: [218.47708], Actual: 11.8282
Prediction: [41.893456], Actual: 31.9318
Prediction: [-89.37202], Actual: 56.6539
Prediction: [59.252457], Actual: 21.7078
Prediction: [106.83753], Actual: 11.1051
Prediction: [29.815832], Actual: 19.9056
Prediction: [52.589867], Actual: 33.0218
Prediction: [33.536266], Actual: 4.19
Prediction: [65.12376], Actual: 40.0517
Prediction: [220.22072], Actual: 186.0299
Prediction: [67.71766], Actual: 1679400.0
Prediction: [38.608612], Actual: 39.8327
Prediction: [61.463837], Actual: 17.854
Prediction: [73.256874], Actual: 81.1427
Prediction: [95.646996], Actual: 74.1316
Prediction: [46.988655], Actual: 19.7431
Prediction: [59.96276], Actual: 30.07360000000001
Prediction: [113.852165], Actual: 31.6236
Prediction: [49.80843], Actual: 23.2712
Prediction: [117.63961], Actual: 27.12
Prediction: [20.781145], Actual: 10.1
Prediction: [-22.246094], Actual: 27.7326
Prediction: [39.52275], Actual: 20.2194
Prediction: [38.855873], Actual: 17.4636
Prediction: [24.86498], Actual: 35.0
Prediction: [49.698647], Actual: 31.6285
Prediction: [90.60993], Actual: 49.0614
Prediction: [159.9988], Actual: 24.5861
Prediction: [77.47131], Actual: 23.7737
Prediction: [87.78892], Actual: 37.3836
Prediction: [21.419724], Actual: 68.2815
Prediction: [54.345287], Actual: 17.8581
Prediction: [92.2545], Actual: 32.8902
Prediction: [47.814415], Actual: 14.2275
Prediction: [56.31378], Actual: 29.46
Prediction: [67.14264], Actual: 30.9766
Prediction: [63.024025], Actual: 41.9604
Prediction: [78.5967], Actual: 2031300.0
Prediction: [-67.93224], Actual: 31.847383333333337
Prediction: [144.9647], Actual: 74.1605
Prediction: [73.19456], Actual: 47.6178
Prediction: [110.305695], Actual: 201.3983
Prediction: [65.882545], Actual: 34.935
Prediction: [32.226006], Actual: 29.9341
Prediction: [61.598457], Actual: 36.7612
Prediction: [71.87853], Actual: 36.2143
Prediction: [53.933075], Actual: 21.8916
Prediction: [59.453636], Actual: 33.6609
Prediction: [58.700867], Actual: 32.4826
Prediction: [75.20873], Actual: 27.4663
Prediction: [48.10474], Actual: 6.1581
Prediction: [33.77492], Actual: 26.9
Prediction: [53.21795], Actual: 8.3
Prediction: [-8.554756], Actual: 6.85
Prediction: [93.24848], Actual: 28.6206
Prediction: [47.08796], Actual: 83.63
Prediction: [28.125107], Actual: 44.5454
Prediction: [61.462124], Actual: 11.3535
Prediction: [98.61991], Actual: 26.7282
Prediction: [68.116844], Actual: 73.7483
Prediction: [96.26985], Actual: 19.0387
Prediction: [77.62608], Actual: 24.7638
Prediction: [68.71198], Actual: 18.6557
Prediction: [59.34649], Actual: 56.11
Prediction: [96.982605], Actual: 75.8691
Prediction: [39.03299], Actual: 22.3656
Prediction: [71.54763], Actual: 52.509
Prediction: [33.278515], Actual: 17.0071
Prediction: [94.878044], Actual: 48.4475
Prediction: [100.29107], Actual: 73.3996

In [33]:
# Evaluate the model using the test data
model_loss = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}")

64/64 - 0s - loss: 20299.2402 - 177ms/epoch - 3ms/step
Loss: 20299.240234375